@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSetting.cshtml";
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);
}
<style>

    .box-set-price table {
        border-collapse: collapse;
    }

    .box-set-price thead tr {
        background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215)) !important;
    }

    .box-set-price th, .box-set-price td {
        border: 1px solid #d3d3d3;
        vertical-align: middle;
    }

    .box-set-price tr th {
        text-align: center;
        padding: 5px;
    }

    .box-set-price .space-type-set-price {
        width: 20px;
        border: none !important;
        background: white;
    }

    .box-set-price input {
        text-align: center
    }
</style>
<script>
    $("#AccomPriceHour").addClass("menu-clicked")
</script>
<script src="~/Areas/Admin/Content/js/AccomPriceHour/roomtype-price-hour.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-medium-bottom">
        <h3>@(transition.Translate(1012, "Accommodation Price (Hour)"))</h3>
    </div>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-grid">
            <div class="uk-width-1-3" ng-cloak>
                <label><b>@(transition.Translate(1013, "Accommodation"))</b></label>
                <select ng-model="filters.RoomTypeId" convert-to-number ng-change="GetData()" class="md-input">
                    <option value="{{item.RoomTypeId}}" ng-repeat="item in roomTypes">{{item.RoomTypeCode}} ({{item.RoomTypeName}})</option>
                </select>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-overflow-container box-set-price">
            <table class="uk-table uk-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">@(transition.Translate(1014, "Start"))</th>
                        <th class="space-type-set-price"></th>
                        <th colspan="4">@(transition.Translate(1015, "Next"))</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@(transition.Translate(1016, "Hour Start")) (h)</td>
                        <td>
                            <input ng-model="data.HourStart" type="number" min="1" class="md-input" />
                        </td>
                        <td class="space-type-set-price"></td>
                        <td>@(transition.Translate(1017, "Hour Next")) (h)</td>
                        <td>
                            <input ng-model="data.HourNext1" type="number" min="1" class="md-input" />
                        </td>
                        <td>
                            <input ng-model="data.HourNext2" type="number" min="1" class="md-input" />
                        </td>
                        <td>
                            <input ng-model="data.HourNext3" type="number" min="1" class="md-input" />
                        </td>
                    </tr>
                    <tr>
                        <td>@(transition.Translate(1018, "Price")) (₫)</td>
                        <td>
                            <input ng-model="data.PriceStart" type="text" class="md-input" />
                        </td>
                        <td class="space-type-set-price"></td>
                        <td>@(transition.Translate(1018, "Price")) (₫)</td>
                        <td>
                            <input ng-model="data.PriceNext1" type="text" class="md-input" />
                        </td>
                        <td>
                            <input ng-model="data.PriceNext2" type="text" class="md-input" />
                        </td>
                        <td>
                            <input ng-model="data.PriceNext3" type="text" class="md-input" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-width-1 uk-text-right">
        <button class="md-btn md-btn-new" ng-click="Put()">@(transition.Translate(1019, "Update"))</button>
    </div>
</div>
