@using BookingEnginePMS.Models;
@{
    ViewBag.Title = "Select Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);

    Hotel hotel = new Hotel();
    if (Session["HotelForBooking"] != null)
    {
        hotel = (Hotel)Session["HotelForBooking"];
    }

}
<script src="~/Content/js/Home/selectdate.js"></script>
<input type="hidden" id="hotelId" value="@hotel.HotelId" />
<header>
    @Html.Partial("~/Views/PartialView/pTimeLine.cshtml", transition)
</header>
<div class="content-checkavail">
    <div id="header-avail">
        <div id="left-header-avail">
            @Html.Partial("~/Views/PartialView/pInfoCompany.cshtml", transition)
        </div>
        <div id="right-header-avail">
            @Html.Partial("~/Views/PartialView/pCurrency.cshtml")
            @Html.Partial("~/Views/PartialView/pLanguage.cshtml")
        </div>
    </div>
    <div class="full-width wrap-selectdate">
        <div class="wrap-item-sidebar">
            <div id="wrap-check-one">
                <div>
                    <span>
                        @(transition.Translate(2273, "Hotel")):
                    </span>
                    <select ng-model="hotelId" style="padding: 5px;width:100%" ng-change="changeHotel()" ng-repeat="item in hotels">
                        <option value="{{item.HotelId}}">{{item.Name}}</option>
                    </select>
                </div>
                <div class="av-check-time">
                    <span>@(transition.Translate(2274, "CHECK IN")):</span>
                    <input type="text" id="Arrive" name="Arrive" class="checkdate" />
                </div>
                <div class="av-check-time">
                    <span>@(transition.Translate(2275, "CHECK OUT")): </span>
                    <input type="text" id="Depart" name="Depart" class="checkdate" />
                </div>
                <div class="av-persion">
                    <div class="av-item-pertion">
                        <span>@(transition.Translate(2276, "ADULTS")):</span>
                        <select ng-model="filter.adult" convert-to-number>
                            @for (int i = 1; i < 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="av-item-pertion">
                        <span>@(transition.Translate(2277, "CHILD")) (0-5 @(transition.Translate(2278, "yrs"))):</span>
                        <select ng-model="filter.child" convert-to-number>
                            @for (int i = 0; i < 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <input id="av-buton" ng-click="selectRoom()" value="@(transition.Translate(2279, "Search Availability"))" class="buton-Check-availability" />
            </div>
        </div>

        <div class="content-booking w-content-select-date">
            <div id="date-CalendarAvailability"></div>
            <div class="botom-select-date">
                <div class="status-select-date">
                    <div class="square avail-true"></div>
                    <span>@(transition.Translate(2280, "Selected Dates"))</span>
                </div>
                <div class="status-select-date">
                    <div class="square avail-false"></div>
                    <span>@(transition.Translate(2281, "No Availability"))</span>
                </div>
                <input type="button" ng-click="selectRoom()" value="@(transition.Translate(2279, "Search Availability"))" class="buton-Check-availability right" />
            </div>
        </div>
    </div>
</div>