@using BookingEnginePMS.Models;
@model Transition
<div id="whyBook">
    <span>@Model.Translate(2282, "Booking with us means you get")</span><br>
    <img src="~/FileDefault/image/check.jpg" width="12" height="9">@Model.Translate(2283, "Best Price Guarantee")  &emsp;
    <img src="~/FileDefault/image/check.jpg" width="12" height="9">@Model.Translate(2284, "Best value")  &emsp;
    <img src="~/FileDefault/image/check.jpg" width="12" height="9">@Model.Translate(2285, "Support 24/7")  &emsp;
    <img src="~/FileDefault/image/check.jpg" width="12" height="9">@Model.Translate(2286, "Friendly staffs")  &emsp;
    <img src="~/FileDefault/image/check.jpg" width="12" height="9">@Model.Translate(2287, "Early Check-in")  &amp; @Model.Translate(2288, "Late Check-out (terms and conditions apply)")
</div>