@using BookingEnginePMS.Areas.Admin.Controllers;
@using BookingEnginePMS.Models;
@using Newtonsoft.Json;
@model List<string>
@{
    List<Guest_Sample> guests = this.ViewData.ContainsKey("guests") ? (List<Guest_Sample>)this.ViewData["guests"] : new List<Guest_Sample>();
    if (guests is null)
    {
        guests = new List<Guest_Sample>();
    }
    string jsonGuests = JsonConvert.SerializeObject(guests);
    List<Guest_Sample> agencies = this.ViewData.ContainsKey("agencies") ? (List<Guest_Sample>)this.ViewData["agencies"] : new List<Guest_Sample>();
    if (agencies is null)
    {
        agencies = new List<Guest_Sample>();
    }
    string jsonAgencies = JsonConvert.SerializeObject(agencies);

    Transition transition = this.ViewData.ContainsKey("transition") ? (Transition)this.ViewData["transition"] : null;
}
<input type="hidden" id="list_guests" name="name" value="@jsonGuests" />
<input type="hidden" id="list_agencies" name="name" value="@jsonAgencies" />
<script>
    $(function () {
        var guests = JSON.parse($("#list_guests").val());
        var guestKendo = new kendo.data.DataSource({
            data: guests
        });
        var agencies = JSON.parse($("#list_agencies").val());
        var agencyKendo = new kendo.data.DataSource({
            data: agencies
        });
        var getFilters = function (filter) {
            var filters = [];
            filters.push(filter);
            values = autoComplete.value().split(", ");
            values.pop();
            $.each(values, function (index, item) {
                filters.push({ field: "", ignoreCase: true, operator: "neq", value: item });
            });
            return filters;
        };
        var getFilters2 = function (filter) {
            var filters = [];
            filters.push(filter);
            values = autoComplete2.value().split(", ");
            values.pop();
            $.each(values, function (index, item) {
                filters.push({ field: "", ignoreCase: true, operator: "neq", value: item });
            });
            return filters;
        };
        var getFilters3 = function (filter) {
            var filters = [];
            filters.push(filter);
            values = autoComplete3.value().split(", ");
            values.pop();
            $.each(values, function (index, item) {
                filters.push({ field: "", ignoreCase: true, operator: "neq", value: item });
            });
            return filters;
        };
        var autoComplete = $("#kUI_automplete").kendoAutoComplete({
            filter: "contains",
            placeholder: "Choose",
            select: function (e) {
                $(".k-animation-container").css("display", "none")
                e.preventDefault()
                $("#result_SearchAuto_Guest").val(e.dataItem)
                $("#lable_Name").click();
            },
            separator: "",
            dataSource: {
                transport: {
                    read: function (options, operation) {
                        guestKendo.read();
                        guestKendo.filter({ logic: "and", filters: getFilters(options.data.filter.filters[0]) });
                        options.success(guestKendo.view());
                    }
                },
                serverFiltering: true
            }
        }).data("kendoAutoComplete");
        var autoComplete2 = $("#kUI_automplete2").kendoAutoComplete({
            filter: "contains",
            placeholder: "Choose",
            select: function (e) {
                $(".k-animation-container").css("display", "none")
                e.preventDefault()
                $("#result_SearchAuto_Guest").val(e.dataItem)
                $("#lable_Name2").click();
            },
            separator: "",
            dataSource: {
                transport: {
                    read: function (options, operation) {
                        guestKendo.read();
                        guestKendo.filter({ logic: "and", filters: getFilters2(options.data.filter.filters[0]) });
                        options.success(guestKendo.view());
                    }
                },
                serverFiltering: true
            }
        }).data("kendoAutoComplete")
        var autoComplete3 = $("#kUI_automplete3").kendoAutoComplete({
            filter: "contains",
            placeholder: "Choose",
            select: function (e) {
                $(".k-animation-container").css("display", "none")
                e.preventDefault()
                $("#result_SearchAuto_Agency").val(e.dataItem)
                $("#lable_Name3").click();
            },
            separator: "",
            dataSource: {
                transport: {
                    read: function (options, operation) {
                        agencyKendo.read();
                        agencyKendo.filter({ logic: "and", filters: getFilters3(options.data.filter.filters[0]) });
                        options.success(agencyKendo.view());
                    }
                },
                serverFiltering: true
            }
        }).data("kendoAutoComplete")
    })
    $(function () {
        var e = $("#kUI_window")
            , t = $("#kUI_undo");
        if (e.length) {
            var a = e
                , n = t.bind("click", function () {
                    a.data("kendoWindow").open(),
                        n.hide()
                });
            a.data("kendoWindow") || a.kendoWindow({
                width: "600px",
                title: "Information",
                actions: ["Pin", "Minimize", "Maximize", "Close"]
            })
        }
    })
</script>
<div id="kUI_window" style="display:none">
    <div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1 uk-margin-medium-bottom">
                <h4><b>@transition.Translate(121, "Guest Information")</b></h4>
                <hr>
            </div>
            <div class="uk-width-1">
                <div class="uk-grid">
                    <div class="uk-width-large-1-2" style="padding-top: 10px;">
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label class="lable-config" id="lable_Name2" ng-click="GetInfoGuest_AfterAutoComplete_ForBooking()" style="margin-top: -15px;"><b>@transition.Translate(119, "Name") <span class="star-red">*</span></b></label>
                                <div class="box-autocomplate">
                                    <input ng-click="RefreshValidate()" ng-model="guestForBooking.FirstName" id="kUI_automplete2" class="uk-width-1-1" />
                                </div>
                                <span id="err_FirstName" class="error">@transition.Translate(89, "Value is invalid")!</span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(161, "SurName") <span class="star-red">*</span></b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.SurName" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                                <span id="err_SurName" class="error">@transition.Translate(89, "Value is invalid")!</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(124, "Email")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Email" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(123, "Phone") <span class="star-red">*</span></b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Phone" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                                <span id="err_Phone" class="error">@transition.Translate(89, "Value is invalid")!</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(162, "Fax")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Fax" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(163, "Country")</b></label>
                                <select class="md-input" ng-model="guestForBooking.Country">
                                    <option value="N/A">N/A</option>
                                    @foreach (string item in Model)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <div class="uk-input-group">
                                    <div class="md-input-wrapper">
                                        <label><b>@transition.Translate(164, "Date of Birth")</b></label>
                                        <input ng-click="RefreshValidate()" id="Dob2" data-uk-datepicker="{format:'DD-MM-YYYY'}" ng-model="Dob2" type="text" class="md-input">
                                        <span class="md-input-bar "></span>
                                    </div>
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(165, "Gender")</b></label>
                                <select class="md-input" ng-model="guestForBooking.Gender" convert-to-number>
                                    <option value="-1">N/A</option>
                                    <option value="1">@transition.Translate(166, "Male")</option>
                                    <option value="0">@transition.Translate(167, "Female")</option>
                                </select>
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label class="lable-config">
                                    <b>@transition.Translate(168, "Type Guest")</b>:
                                </label>
                                <span class="type-guest">{{guestForBooking.TypeGuestName}} ( @transition.Translate(169, "discount") {{guestForBooking.Discount}}%)</span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(170, "Company")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Company" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(171, "Address") </b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Address" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(172, "Region")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Region" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2" style="padding-top: 10px;">
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>ZIP Code </b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.ZIPCode" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>CVC</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.CVC" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(173, "IdentityCart")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.IdentityCart" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(174, "Passport")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.Passport" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(175, "CreditCard")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.CreditCard" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1-2 uk-margin-bottom">
                                <label><b>@transition.Translate(176, "Date of Issue CreditCard")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="guestForBooking.DoIssueCreditCard" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1 uk-margin-bottom">
                                <label><b>@transition.Translate(177, "Note")</b></label>
                                <textarea ng-click="RefreshValidate()" ng-model="guestForBooking.Note" rows="3" class="md-input"></textarea>
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-width-1 uk-text-right">
                            <button class="md-btn md-btn-new md-btn-wave-light" ng-click="ApplyGuest_ForBooking()">@transition.Translate(178, "Apply")</button>
                            <button class="md-btn md-btn-danger md-btn-wave-light" ng-click="closeWindowGuest_ForBooking()">@transition.Translate(179, "Cancel")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-grid" style="margin-top: -20px;">
    <div class="uk-width-1 uk-margin-bottom">
        <button class="md-btn-new md-btn md-btn-wave-light" ng-click="refreshGuest()">
            <i class="uk-icon-plus"></i>
            <span>@transition.Translate(180, "Add new Guest")</span>
        </button>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1 uk-margin-bottom">
                <h4>
                    <b><u>@transition.Translate(121, "Guest Information")</u></b>
                </h4>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1 uk-margin-medium-bottom" style="margin-top: -15px;">
                <span id="lable_Name" ng-click="GetInfoGuest_AfterAutoComplete()" style="display:none"></span>
                <label class="lable-config"><b>@transition.Translate(119, "Name") <span class="star-red">*</span></b></label>
                <div class="box-autocomplate">
                    <input ng-click="RefreshValidate()" ng-model="guest.FirstName" id="kUI_automplete" class="uk-width-1-1" />
                </div>
                <input id="result_SearchAuto_Guest" type="hidden">
                <span id="err_FirstName" class="error">@transition.Translate(89, "Value is invalid")!</span>
            </div>
            <div class="uk-width-1 uk-margin-bottom">
                <label><b>@transition.Translate(161, "SurName") <span class="star-red">*</span></b></label>
                <input ng-click="RefreshValidate()" ng-model="guest.SurName" type="text" class="md-input">
                <span class="md-input-bar "></span>
                <span id="err_SurName" class="error">@transition.Translate(89, "Value is invalid")!</span>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(124, "Email")</b></label>
                <input ng-click="RefreshValidate()" ng-model="guest.Email" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(123, "Phone") <span class="star-red">*</span></b></label>
                <input ng-click="RefreshValidate()" ng-model="guest.Phone" type="text" class="md-input">
                <span class="md-input-bar "></span>
                <span id="err_Phone" class="error">@transition.Translate(89, "Value is invalid")!</span>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(162, "Fax")</b></label>
                <input ng-click="RefreshValidate()" ng-model="guest.Fax" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(163, "Country")</b></label>
                <select class="md-input" ng-model="guest.Country">
                    <option value="N/A">N/A</option>
                    @foreach (string item in Model)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span class="md-input-bar "></span>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1 uk-text-right">
                <button class="md-btn md-btn-new md-btn-wave-light" ng-click="showMoreInformation()">
                    <span ng-if="!showMoreGuestInformation">
                        <i style="color: white;margin-right: 5px;" class="uk-icon-chevron-down"></i>
                        <span>@transition.Translate(181, "Show More")</span>
                    </span>
                    <span ng-if="showMoreGuestInformation">
                        <i style="color: white;margin-right: 5px;" class="uk-icon-chevron-up"></i>
                        <span>@transition.Translate(182, "Hide")</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="uk-grid {{!showMoreGuestInformation? 'hide-item':''}}">
            <div class="uk-width-1">
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <div class="uk-input-group">
                            <div class="md-input-wrapper">
                                <label><b>@transition.Translate(164, "Date of Birth")</b></label>
                                <input ng-click="RefreshValidate()" id="Dob" data-uk-datepicker="{format:'DD-MM-YYYY'}" ng-model="Dob" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(165, "Gender")</b></label>
                        <select class="md-input" ng-model="guest.Gender" convert-to-number>
                            <option value="-1">N/A</option>
                            <option value="1">@transition.Translate(166, "Male")</option>
                            <option value="0">@transition.Translate(167, "Female")</option>
                        </select>
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label class="lable-config">
                            <b>@transition.Translate(168, "Type Guest")</b>:
                        </label>
                        <span class="type-guest">{{guest.TypeGuestName}} ( @transition.Translate(169, "discount") {{guest.Discount}}%)</span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(170, "Company")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.Company" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(171, "Address") </b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.Address" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(172, "Region")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.Region" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>ZIP Code </b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.ZIPCode" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>CVC</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.CVC" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(173, "IdentityCart")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.IdentityCart" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(174, "Passport")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.Passport" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(175, "CreditCard")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.CreditCard" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <label><b>@transition.Translate(176, "Date of Issue CreditCard")</b></label>
                        <input ng-click="RefreshValidate()" ng-model="guest.DoIssueCreditCard" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1 uk-margin-bottom">
                <label><b>@transition.Translate(183, "Note for guest")</b></label>
                <textarea ng-click="RefreshValidate()" ng-model="guest.Note" rows="2" class="md-input"></textarea>
                <span class="md-input-bar "></span>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-grid">
            <div class="uk-width-1 uk-margin-bottom">
                <h4>
                    <b><u>@transition.Translate(125, "Flight Information")</u></b>
                </h4>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(184, "Arrival Flight Date")</b></label>
                <input ng-click="RefreshValidate()" ng-model="data.ArrivalFlightDate" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(185, "Arrival Flight Time")</b></label>
                <input ng-click="RefreshValidate()" ng-model="data.ArrivalFlightTime" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
        </div>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(186, "Departure Flight Date")</b></label>
                <input ng-click="RefreshValidate()" ng-model="data.DepartureFlightDate" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
            <div class="uk-width-1-2 uk-margin-bottom">
                <label><b>@transition.Translate(187, "Departure Flight Time")</b></label>
                <input ng-click="RefreshValidate()" ng-model="data.DepartureFlightTime" type="text" class="md-input">
                <span class="md-input-bar "></span>
            </div>
        </div>
        @*company*@
        <div class="uk-grid">
            <div class="uk-width-1 uk-margin-bottom">
                <h4>
                    <b><u>@transition.Translate(188, "Agency Information")</u></b>
                </h4>
            </div>
            <div class="uk-width-1 uk-margin-medium-bottom" style="margin-top: -10px;">
                <span id="lable_Name3" ng-click="GetInfoAgency_AfterAutoComplete()" style="display:none"></span>
                <label class="lable-config"><b>@transition.Translate(119, "Name")</b></label>
                <div class="box-autocomplate">
                    <input ng-click="RefreshValidate()" ng-model="data.Company.CompanyName" id="kUI_automplete3" class="uk-width-1-1" />
                </div>
                <input id="result_SearchAuto_Agency" type="hidden">
            </div>
            <div class="uk-width-1 uk-text-right uk-margin-bottom">
                <button class="md-btn md-btn-new md-btn-wave-light" ng-click="showMoreAgencyInformation()">
                    <span ng-if="!showMoreAgencyInformationModel">
                        <i style="color: white;margin-right: 5px;" class="uk-icon-chevron-down"></i>
                        <span>@transition.Translate(181, "Show More")</span>
                    </span>
                    <span ng-if="showMoreAgencyInformationModel">
                        <i style="color: white;margin-right: 5px;" class="uk-icon-chevron-up"></i>
                        <span>@transition.Translate(182, "Hide")</span>
                    </span>
                </button>
            </div>
            <div class="uk-width-1 {{!showMoreAgencyInformationModel? 'hide-item':''}}">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(189, "Group Guest")</b></label>
                                <select class="md-input" ng-model="data.Company.GroupGuestId" convert-to-number>
                                    <option value="-1">N/A</option>
                                    <option value="1">@transition.Translate(190, "Guest restaurant")</option>
                                    <option value="2">@transition.Translate(191, "Corporate")</option>
                                    <option value="3">@transition.Translate(192, "Supplier")</option>
                                    <option value="4">@transition.Translate(193, "FIt")</option>
                                    <option value="5">@transition.Translate(194, "Agent/Company")</option>
                                    <option value="6">@transition.Translate(195, "Online")</option>
                                    <option value="7">@transition.Translate(196, "Guest workshop")</option>
                                    <option value="8">@transition.Translate(197, "ORDER SALE")</option>
                                    <option value="9">@transition.Translate(198, "Tour")</option>
                                    <option value="10">@transition.Translate(199, "Foreigner")</option>
                                </select>
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(200, "Source")</b></label>
                                <select class="md-input" ng-model="data.Company.SourceId" convert-to-number>
                                    <option value="-1">N/A</option>
                                    <option value="1">OTA</option>
                                    <option value="2">TA</option>
                                    <option value="3">GIT</option>
                                    <option value="4">FIT</option>
                                    <option value="5">WALK-IN</option>
                                    <option value="6">COMP</option>
                                    <option value="7">VOUCHER</option>
                                    <option value="8">HU</option>
                                    <option value="9">CORP</option>
                                </select>
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(201, "Tax Code")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.TaxCode" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(123, "Phone")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.Phone" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(162, "Fax")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.Fax" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(124, "Email")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.Email" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(171, "Address")</b></label>
                                <textarea ng-click="RefreshValidate()" ng-model="data.Company.Address" rows="3" class="md-input"></textarea>
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1 uk-margin-bottom">
                        <h5><b>***@transition.Translate(202, "Contact User Information")</b></h5>
                    </div>
                    <div class="uk-width-1">
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(203, "Contact Us Name")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.ContactUsName" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(123, "Phone")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.ContactPhone" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                            <div class="uk-width-1 uk-margin-medium-bottom">
                                <label><b>@transition.Translate(124, "Email")</b></label>
                                <input ng-click="RefreshValidate()" ng-model="data.Company.ContactEmail" type="text" class="md-input">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1 uk-margin-large-bottom">
        <div class="uk-overflow-container box-select-room">
            <h4 class="title-box-accomodation"><b>@transition.Translate(151, "Accommodation Chosen") </b></h4>
            <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top: none;">
                <thead>
                    <tr>
                        <th class="uk-text-center" style="width: 40px;">@transition.Translate(204, "Index")</th>
                        <th style="min-width:100px">@transition.Translate(95, "Accom")</th>
                        <th style="width:50px">@transition.Translate(153, "Type")</th>
                        <th class="uk-text-center" style="width:100px">@transition.Translate(152, "Room")</th>
                        <th class="uk-text-center" style="width:120px">@transition.Translate(91 , "Check In")</th>
                        <th class="uk-text-center" style="width:120px">@transition.Translate(92, "Check Out")</th>
                        <th class="uk-text-center" style="width:50px">@transition.Translate(129, "Night")</th>
                        <th class="uk-text-center" style="width:200px">@transition.Translate(122, "Guest' Name")</th>
                        <th class="uk-text-center" style="width:80px">@transition.Translate(86, "Adult")</th>
                        <th class="uk-text-center" style="width:80px">@transition.Translate(87, "Children")</th>
                        <th class="uk-text-center" style="width:120px">@transition.Translate(156, "Total")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bookingChoose track by $index">
                        <td class="uk-text-center">#{{$index + 1}}</td>
                        <td>{{item.RoomTypeName}}</td>
                        <td>
                            <span ng-if="item.TypeBooking == 1">@transition.Translate(83, "Hour")</span>
                            <span ng-if="item.TypeBooking == 0">@transition.Translate(82, "Day")</span>
                        </td>
                        <td>
                            <select ng-change="setRoomForBooking(item.RoomTypeId)" ng-model="item.RoomId" class="md-input" convert-to-number>
                                <option value="-1">N/A</option>
                                <option value="{{room.RoomId}}" ng-repeat="room in item.Rooms">
                                    {{room.RoomCode}}
                                </option>
                            </select>
                        </td>
                        <td class="uk-text-center">{{item.ArrivalDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td class="uk-text-center">
                            <span ng-if="item.TypeBooking == 1">___</span>
                            <span ng-if="item.TypeBooking == 0">
                                {{item.DepartureDate | date:'dd/MM/yyyy HH:mm'}}
                            </span>
                        </td>
                        <td class="uk-text-center">
                            <span ng-if="item.TypeBooking == 1">___</span>
                            <span ng-if="item.TypeBooking == 0">{{item.SpaceDate}}</span>
                        </td>
                        <td class="box-guest-booking">
                            <span>
                                {{item.Guest.SurName}} {{item.Guest.FirstName}}
                            </span>
                            <i class="uk-icon-plus-square icon-plus" ng-click="addGuest_ForBooking(item)"></i>
                        </td>
                        <td class="uk-text-center">{{item.AdultChoose}}</td>
                        <td class="uk-text-center">{{item.ChildrenChoose}}</td>
                        <td class="uk-text-right">
                            <b>{{item.Total | currency: '':'2'}} ₫ </b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-width-1">
        <div class="uk-grid" style="margin-left:0;background: #f0f0f0;">
            <div class="uk-width-1" style="padding: 10px 0;">
                <div class="box-footer">
                    <p style="margin: 4px 0;"><b>@transition.Translate(107, "Total Amount")</b></p>
                    <p style="margin: 4px 0;"><b>{{(FeePrice + ExtrabedPrice + ServicePrice + SubTotalPrice) | currency:'':'0'}} ₫</b></p>
                </div>
                <div class="box-footer">
                    <p style="margin: 4px 0;"><b>@transition.Translate(108, "Fees")</b></p>
                    <p style="margin: 4px 0;" attrCal="{{calFee_footer()}}"><b>{{FeePrice | currency:'':'0'}} ₫</b></p>
                </div>
                <div class="box-footer">
                    <p style="margin: 4px 0;"><b>@transition.Translate(109, "Services")</b></p>
                    <p style="margin: 4px 0;" attrCal="{{calService_footer()}}"><b>{{ServicePrice | currency:'':'0'}} ₫</b></p>
                </div>
                <div class="box-footer">
                    <p style="margin: 4px 0;"><b>@transition.Translate(98, "Extrabed")</b></p>
                    <p style="margin: 4px 0;" attrCal="{{calExtrabed_footer()}}"><b>{{ExtrabedPrice | currency:'':'0'}} ₫</b></p>
                </div>
                <div class="box-footer">
                    <p style="margin: 4px 0;"><b>@transition.Translate(111, "Room Charges")</b></p>
                    <p style="margin: 4px 0;" attrCal="{{calSubTotal_footer()}}"><b>{{SubTotalPrice | currency:'':'0'}} ₫</b></p>
                </div>
            </div>
            <div class="uk-width-1">
                <div class="uk-grid">
                    <div class="uk-width-1-2" style="padding: 10px 20px 20px 20px;background: #373737;">
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="StepReservation()">@transition.Translate(120, "Back")</button>
                    </div>
                    <div class="uk-width-1-2 uk-text-right" style="padding: 10px 20px 20px 20px;background: #373737;">
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="StepService()">@transition.Translate(110, "Next")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
