@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSetting.cshtml";
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);
}
<script>
    $("#AccommodationAmenities").addClass("menu-clicked")
</script>
<script src="~/Areas/Admin/Content/js/RoomTypeAmenity/roomtypeamenity.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-bottom">
        <h3>@(transition.Translate(1007, "Accommodation Amenities"))</h3>
    </div>
    <div class="uk-width-1-1 uk-margin-small-bottom">
        <div class="uk-grid">
            <div class="uk-width-1 uk-margin-bottom" ng-repeat="item in data" ng-cloak>
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-grid">
                            <div class="uk-width-1-3">
                                <h4 class="header-item">{{item.AmenityName}}</h4>
                            </div>
                            <div class="uk-width-1-3">
                                <div class="uk-grid">
                                    <div class="uk-width-1">
                                        <label>
                                            <input ng-model="item.AllRoomType" boolean type="radio" name="rdAllDepartment_{{$index}}" value="true" />
                                            <span>
                                                <b>@(transition.Translate(1008, "All apartments"))</b>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <div class="uk-grid">
                                    <div class="uk-width-1">
                                        <label>
                                            <input ng-model="item.AllRoomType" type="radio" boolean name="rdAllDepartment_{{$index}}" value="false" />
                                            <span>
                                                <b>@(transition.Translate(1009, "Some apartments"))</b>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="uk-width-1">
                                        <p>@(transition.Translate(1010, "Select where this amenity is available"))</p>
                                        <div class="uk-grid {{item.AllRoomType? 'hide-item':'show-item'}}">
                                            <div class="uk-width-1 uk-margin-small-bottom" ng-repeat="itm in item.RoomType" style="position:relative">
                                                <label>
                                                    <input ng-model="itm.Checked" type="checkbox" />
                                                    <span>
                                                        <b>{{itm.RoomTypeName}}</b>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1 uk-text-center uk-margin-large-bottom uk-margin-top" ng-cloak>
                <button class="md-btn md-btn-new" ng-click="Put()">@(transition.Translate(1011, "Update"))</button>
            </div>

        </div>
    </div>
</div>
