@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);
}
<style>
    .div-content-table table th, .div-content-table table td {
        border: 1px solid #dcdcdc !important
    }
    th, td {
        border: 1px solid #e0e0e0;
    }
</style>
<script>
    $("#menu_10").addClass('click-menu-top')
</script>
<script src="~/Areas/Admin/Content/js/Statistic/cash-drawer-report.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-medium-bottom">
        <h3>@(transition.Translate(1231, "Cash Drawer Report"))</h3>
        <h3></h3>
        <hr />
    </div>
    <div class="uk-width-1-1" ng-cloak>
        <div class="uk-grid">
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-margin-medium-bottom">
                <div class="uk-input-group">
                    <div class="md-input-wrapper">
                        <label><b>@(transition.Translate(1232, "From date"))</b></label>
                        <input id="FromDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="FromDate" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                </div>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-margin-medium-bottom">
                <div class="uk-input-group">
                    <div class="md-input-wrapper">
                        <label><b>@(transition.Translate(1233, "To date"))</b></label>
                        <input id="ToDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="ToDate" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                </div>
            </div>
            <div class="uk-width-large-4-6 uk-width-medium-1-3">
                <button ng-click="GetData()" class="md-btn md-btn-new md-btn-wave-light">@(transition.Translate(1234, "Filter"))</button>
                <a href="/Admin/Statistic/DownloadCashDrawer" class="md-btn md-btn-new md-btn-wave-light" style="float:right">@(transition.Translate(1235, "Download"))</a>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-overflow-container">
            <div class="div-content-table">
                <table class="uk-table" style="border-collapse:collapse">
                    <thead>
                        <tr style="background:linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215))">
                            <th class="uk-text-center">@(transition.Translate(1236, "Cash's Name"))</th>
                            <th class="uk-text-center">@(transition.Translate(1237, "Date Opened"))</th>
                            <th class="uk-text-center">@(transition.Translate(1246, "Date Closed"))</th>
                            <th class="uk-text-center">@(transition.Translate(1238, "Start Balance")) ₫</th>
                            <th class="uk-text-center">@(transition.Translate(1239, "Drawer Balance")) ₫</th>
                            <th class="uk-text-center">@(transition.Translate(1240, "Cash Drop")) ₫</th>
                            <th class="uk-text-center">@(transition.Translate(1241, "Note Open"))</th>
                            <th class="uk-text-center">@(transition.Translate(1242, "Note Close"))</th>
                            <th class="uk-text-center">@(transition.Translate(1243, "User Session"))</th>
                            <th class="uk-text-center">@(transition.Translate(1244, "Status"))</th>
                        </tr>
                    </thead>
                    <tbody ng-cloak>
                        <tr ng-repeat="item in data">
                            <td>{{item.Name}} <b ng-if="item.Deleted" style="color:red">(@(transition.Translate(1247, "Deleted")))</b></td>
                            <td class="uk-text-center">{{item.DateOpened | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td class="uk-text-center">
                                <span ng-if="item.Status">____________</span>
                                <span ng-if="!item.Status"> {{item.DateClosed | date:'dd/MM/yyyy HH:mm'}}</span>
                            </td>
                            <td class="uk-text-right">{{item.StartBalance | currency:'':'0'}}</td>
                            <td class="uk-text-right">{{item.DrawerBalance | currency:'':'0'}}</td>
                            <td class="uk-text-right">{{item.CashDrop | currency:'':'0'}}</td>
                            <td class="uk-text-right">{{item.NoteOpen}}</td>
                            <td class="uk-text-right">{{item.NoteClose}}</td>
                            <td class="uk-text-center">{{item.UserSession}}</td>
                            <td class="uk-text-center"><span ng-bind-html="getStatusCashDrawer(item.Status)"></span></td>
                        </tr>
                    </tbody>
                    <tfoot ng-cloak style="border: 1px solid #dcdcdc;">
                        <tr>
                            <th colspan="3" class="uk-text-right">@(transition.Translate(1245, "Total"))</th>
                            <th class="uk-text-right">{{totalStartBalance | currency:'':'0'}}</th>
                            <th class="uk-text-right">{{totalDrawerBalance | currency:'':'0'}}</th>
                            <th class="uk-text-right">{{totalCashDrop | currency:'':'0'}}</th>
                            <th colspan="4"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>