@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<string> countries = (List<string>)ViewData["countries"];
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);
}
<script src="~/ckfinder/ckfinder.js"></script>
<script src="~/Areas/Admin/Content/js/Profile/profile.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-bottom">
        <h3>@(transition.Translate(1121, "My Profile"))</h3>
        <hr />
    </div>
    <div class="uk-width-1-1 uk-margin-small-bottom">
        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
            <li class="uk-active"><a href="#">Thông tin các nhân</a></li>
            <li><a href="#">Đổi mật khẩu</a></li>
        </ul>
        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
            <li>
                <div class="uk-margin-top">
                    <div class="uk-grid">
                        <div class="uk-width-1-4 user-photo uk-text-center">
                            <label style="margin-bottom: 10px;display: block;">
                                <b>@(transition.Translate(948, "Image"))</b>
                            </label>
                            <img ng-model="user.Photo" id="img-logo" ng-src="{{user.Photo}}" style="border-radius: 50%;border: 1px solid #484848;padding: 2px;" />
                            <input ng-model="user.Photo" id="Logo" style="display:none;" name="Logo" class="upload">
                        </div>
                        <div class="uk-width-3-4">
                            <div class="uk-grid uk-margin-bottom">
                                <div class="uk-width-medium-1-2">
                                    <label>Họ tên</label>
                                    <div>
                                        <input class="md-input" ng-model="user.FullName" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-bottom">
                                <div class="uk-width-medium-1-2">
                                    <label>Email</label>
                                    <div>
                                        <input class="md-input" ng-model="user.Email" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-bottom">
                                <div class="uk-width-medium-1-2 uk-text-right">
                                    <button ng-click="Put()" class="md-btn md-btn-primary control-btn">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-margin-top">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 uk-margin-bottom">
                            <label> Mật khẩu cũ <span class="star-red">*</span></label>
                            <div>
                                <input ng-click="RefreshValidate()" ng-model="user.Password" class="md-input" type="password" />
                                <span id="err_Password" class="error">@(transition.Translate(1170, "Value is invalid!"))</span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 uk-margin-bottom">
                            <label>Mật khẩu mới <span class="star-red">*</span></label>
                            <div>
                                <input ng-click="RefreshValidate()" ng-model="user.NewPassword" class="md-input" type="password" />
                                <span id="err_NewPassword" class="error">@(transition.Translate(1170, "Value is invalid!"))</span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 uk-margin-bottom">
                            <label>Nhập lại mật khẩu mới <span class="star-red">*</span></label>
                            <div>
                                <input ng-click="RefreshValidate()" ng-model="user.ConfirmPassword" class="md-input" type="password" />
                                <span id="err_ConfirmPassword" class="error">@(transition.Translate(1170, "Value is invalid!"))</span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 uk-margin-bottom uk-text-right">
                            <button ng-click="ChangePassword()" class="md-btn md-btn-primary control-btn">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (!$('.button-upload').length > 0) {
            var upload;
            var textBox = $('.upload');
            for (var i = 0; i < textBox.length; i++) {
                var uploadText = $(textBox[i]);
                uploadText.css('width', uploadText.width() - 70);
                uploadText.after('<button type="button" for="' + uploadText.attr('id') + '" class="button-upload md-btn md-btn-new md-btn-wave-light">@(transition.Translate(989, "Upload"))</button>');
                $('.button-upload').click(function () {
                    upload = $(this);
                    var finder = new CKFinder();
                    finder.basePath = '../files';
                    finder.selectActionFunction = setFileField;
                    finder.popup();
                });
                function setFileField(fileUrl) {
                    $('#' + $(upload).attr('for')).val(fileUrl);
                    $("#img-logo").attr("src", fileUrl)
                }
            }
        }
    })
</script>