@using BookingEnginePMS.Models;
@model Transition
@{

    int typeSoftware = -1;
    if (Session["typeSoftware"] != null)
    {
        typeSoftware = (int)Session["typeSoftware"];
    }
}
<div style="padding-bottom: 50px;">
    <div class="uk-grid">
        <div class="uk-width-large-3-4 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-1-2">
                    <div class="uk-grid">
                        <div class="uk-width-1 uk-margin-bottom">
                            <h4>
                                <b><u>@Model.Translate(479, "Stay Information")</u></b>
                                @if (typeSoftware == 1 || typeSoftware == 3)
                                {
                                    <span ng-if="bookingdetail.TypeBooking == 1 && bookingdetail.Status == 2" class="md-btn md-btn-new {{bookingdetail.BookingPrices[0].Paid? 'hide-item':''}}" style="float: right;margin-left: 20px;" ng-click="calculatorRoomPrice()">
                                        @Model.Translate(480, "Calculator room price")
                                    </span>
                                }
                                <span style="float: right;font-size: 20px;margin-top: 3px;" ng-bind-html="getStatus(bookingdetail.Status)"></span>
                            </h4>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(481, "Type Booking")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-size: 16px;font-weight: bold;">
                                    {{getTypeReservation(bookingdetail.TypeBooking)}}
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(482, "Stay time")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;" ng-cloak>
                                <p style="margin: 0;font-size: 16px;font-weight: bold;color:red" ng-if="bookingdetail.Status == 3 || bookingdetail.Status == 6">
                                    {{bookingdetail.StayTime}} &plusmn; 1s
                                </p>
                                <p style="margin: 0;font-size: 16px;font-weight: bold;color:red" ng-if="bookingdetail.Status == 2">
                                    {{countTimeRun}} &plusmn; 1s
                                </p>
                                <p style="margin: 0;font-size: 16px;font-weight: bold;color:red" ng-if="bookingdetail.Status == 1 || bookingdetail.Status == 4 || bookingdetail.Status == 5">
                                    0h:00:00 &plusmn; 1s
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(369, "Check In")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-size: 16px;font-weight: bold;">
                                    {{bookingdetail.ArrivalDate | date:'dd/MM/yyyy HH:mm'}}
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(371, "Check Out")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-size: 16px;font-weight: bold;" ng-if="bookingdetail.TypeBooking == 0 || bookingdetail.Status == 3 || bookingdetail.Status == 6">
                                    {{bookingdetail.DepartureDate | date:'dd/MM/yyyy HH:mm'}}
                                </p>
                                <p style="margin: 0;font-size: 16px;font-weight: bold;" ng-if="bookingdetail.TypeBooking == 1 && bookingdetail.Status != 3 && bookingdetail.Status != 6">
                                    ________________
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(483, "Real Time Check In")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p ng-if="bookingdetail.Status > 1" style="margin: 0;font-size: 14px;font-weight: bold;">
                                    {{bookingdetail.CheckinDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                </p>
                                <p ng-if="bookingdetail.Status == 1" style="margin: 0;font-size: 14px;font-weight: bold;">
                                    ________________
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(484, "Real Time Check Out")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p ng-if="bookingdetail.Status == 3 || bookingdetail.Status == 6" style="margin: 0;font-size: 14px;font-weight: bold;" ng-if="bookingdetail.TypeBooking == 0 || bookingdetail.Status == 3 || bookingdetail.Status == 6">
                                    {{bookingdetail.CheckoutDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                </p>
                                <p ng-if="bookingdetail.Status != 3 && bookingdetail.Status != 6" style="margin: 0;font-size: 14px;font-weight: bold;" ng-if="bookingdetail.TypeBooking == 1 && bookingdetail.Status != 3 && bookingdetail.Status != 6">
                                    ________________
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(382, "Accommodation")</b></label>
                            <div style="height: 40px;line-height: 40px;padding-left: 5px;">
                                <p style="margin: 0;font-size: 14px;font-weight: bold;">
                                    {{bookingdetail.RoomTypeName}}
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(415, "Room")</b></label>
                            <div style="height: 40px;line-height: 40px;padding-left: 5px;">
                                <p style="margin: 0;font-size: 14px;font-weight: bold;" ng-if="bookingdetail.RoomId < 0"> N/A</p>
                                <p style="margin: 0;font-size: 14px;font-weight: bold;" ng-if="bookingdetail.RoomId > 0"> {{bookingdetail.RoomCode}}</p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom">
                            <div class="md-input-wrapper">
                                <label><b>@Model.Translate(365, "Adult")</b></label>
                                <input ng-model="bookingdetail.Adult" ng-click="RefreshValidate()" type="number" class="md-input" min="0">
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-bottom">
                            <div class="md-input-wrapper">
                                <label><b>@Model.Translate(366, "Children")</b></label>
                                <input ng-model="bookingdetail.Children" ng-click="RefreshValidate()" type="number" class="md-input" min="0">
                            </div>
                        </div>
                        <div class="uk-width-1 uk-margin-bottom">
                            <div class="md-input-wrapper">
                                <label><b>@Model.Translate(485, "Note")</b></label>
                                <textarea ng-model="bookingdetail.Note" class="md-input" rows="2"></textarea>
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-grid">
                        <div class="uk-width-1 uk-margin-bottom">
                            <h4 style="padding-left: 5px;">
                                <b><u>@Model.Translate(443, "Guest Information")</u></b>
                            </h4>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-margin-small-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(426, "Name")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-weight: bold;">{{bookingdetail.Guest.FirstName}}</p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-small-bottom" style="margin-top: -10px;">
                            <label class="lable-config"><b>@Model.Translate(427, "SurName")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-weight: bold;">{{bookingdetail.Guest.SurName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-margin-small-bottom">
                            <label class="lable-config"><b>@Model.Translate(444, "Email")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-weight: bold;">{{bookingdetail.Guest.Email}}</p>
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-small-bottom">
                            <label class="lable-config"><b>@Model.Translate(445, "Phone")</b></label>
                            <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                                <p style="margin: 0;font-weight: bold;">{{bookingdetail.Guest.Phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="uk-grid">
                                <div class="uk-width-1 box-select-room uk-margin-bottom">
                                    <div class="md-input-wrapper" style="padding-top: 0;">
                                        <h4 class="title-box-accomodation"><b>@Model.Translate(486, "Price Room") </b></h4>
                                        <div class="uk-overflow-container" ng-cloak>
                                            <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none;border-collapse: collapse;">
                                                <thead>
                                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                                        <th>@Model.Translate(487, "Date")</th>
                                                        <th class="uk-text-center" ng-repeat="item in bookingdetail.BookingPrices track by $index">
                                                            <span>{{item.Date | date:'dd/MM/yyyy'}}</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.Translate(378, "Price")</td>
                                                        <td ng-repeat="item in bookingdetail.BookingPrices track by $index">
                                                            @if (typeSoftware == 1 || typeSoftware == 3)
                                                            {
                                                                <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                                    <span>{{item.Price}}</span>
                                                                    <div>
                                                                        <input ng-model="item.Price" type="text" class="md-input uk-text-center" />
                                                                    </div>
                                                                    <span class="md-input-bar "></span>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="md-input-wrapper uk-text-center">
                                                                    <span>{{item.Price}}</span>
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 box-select-room">
                                    <div class="md-input-wrapper" style="padding-top: 0;">
                                        <h4 class="title-box-accomodation">
                                            <b>@Model.Translate(377, "Extrabed")</b>
                                            @if (typeSoftware == 1 || typeSoftware == 3)
                                            {
                                                <span ng-if="bookingdetail.Status != 6 && bookingdetail.Status != 3 && bookingdetail.Status != 5" style="float: right;cursor: pointer;" ng-click="showScheduleExtrabed()">
                                                    <i class="uk-icon-edit" style="color: white;font-size: 22px;"></i>
                                                </span>
                                            }

                                        </h4>
                                        <div class="uk-overflow-container box-schedule-price" ng-cloak>
                                            <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none;border-collapse: collapse;">
                                                <thead>
                                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                                        <th>@Model.Translate(390, "Type Extrabed")</th>
                                                        <th class="uk-text-center" style="width: 120px;">@Model.Translate(2449, "Date Use")</th>
                                                        <th class="uk-text-center" style="width: 90px;">@Model.Translate(378, "Price") (₫)</th>
                                                        <th class="uk-text-center" style="width: 61px;">@Model.Translate(379, "Quantity")</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in bookingdetail.BookingExtrabeds track by $index">
                                                        <td>
                                                            <div class="{{item.Paid? 'item-paid':''}}">
                                                                <span>{{item.ExtrabedName}}</span>
                                                            </div>
                                                        </td>
                                                        <td class="uk-text-center">
                                                            <span>{{item.DateUser}}</span>
                                                        </td>
                                                        <td>
                                                            <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                                <span>{{item.Price}}</span>
                                                                <input ng-model="item.Price" type="text" class="md-input uk-text-center" />
                                                                <span class="md-input-bar "></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                                <span>{{item.Number}}</span>
                                                                <select ng-model="item.Number" class="md-input" convert-to-number>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                                <span class="md-input-bar "></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="{{item.Paid? 'item-paid':'item-not-paid'}}">
                                                                <i class="uk-icon-close close-service" ng-click="removeExtrabedForBooking($index)"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-2 box-select-room">
                            <div class="md-input-wrapper" style="padding-top: 0;">
                                <h4 class="title-box-accomodation">
                                    <b>@Model.Translate(398, "Services")</b>
                                    @if (typeSoftware == 1 || typeSoftware == 3)
                                    {
                                        <span ng-if="bookingdetail.Status != 6 && bookingdetail.Status != 3 && bookingdetail.Status != 5" style="float: right;cursor: pointer;" ng-click="showScheduleService()">
                                            <i class="uk-icon-edit" style="color: white;font-size: 22px;"></i>
                                        </span>
                                    }
                                </h4>
                                <div class="uk-overflow-container" ng-cloak>
                                    <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none;border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                                <th>@Model.Translate(426, "Name")</th>
                                                <th class="uk-text-center" style="width: 120px;">@Model.Translate(2449, "Date Use")</th>
                                                <th class="uk-text-center" style="width: 90px;">@Model.Translate(378, "Price") (₫)</th>
                                                <th class="uk-text-center" style="width: 61px;">@Model.Translate(379, "Quantity")</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in bookingdetail.BookingServices track by $index">
                                                <td>
                                                    <div class="{{item.Paid? 'item-paid':''}}">
                                                        <span>{{item.ServiceName}}</span>
                                                    </div>
                                                </td>
                                                <td class="uk-text-center">
                                                    <span>{{item.DateUser}}</span>
                                                </td>
                                                <td>
                                                    <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <span>{{item.Price}}</span>
                                                        <input ng-model="item.Price" type="text" class="md-input uk-text-center" />
                                                        <span class="md-input-bar "></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <span>{{item.Number}}</span>
                                                        <input ng-model="item.Number" type="number" class="md-input uk-text-center" />
                                                        <span class="md-input-bar "></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="{{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <i class="uk-icon-close close-service" ng-click="removeServiceForBooking($index)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-4">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-margin-small-bottom">
                    <h5 class="title-box-small-accomodation">
                        <b>@Model.Translate(489, "Charges Information")</b>
                    </h5>
                </div>
                <div class="uk-width-1">
                    <div style="padding: 0 10px;">
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(396, "Room Charges") <span class="support_helper">(1)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalRoomCharges | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(398, "Services") <span class="support_helper">(2)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalServices | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(377, "Extrabed") <span class="support_helper">(3)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalExtrabed | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(399, "Discount")</b> <span class="support_helper">(4)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{masterData.TotalDiscount | currency:'':'0'}} ₫</span>
                            </div>
                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(400, "Total Amount")</b> <span class="support_helper">(5) = (1) + (2) + (3) - (4)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{(masterData.TotalRoomCharges + masterData.TotalServices + masterData.TotalExtrabed - masterData.TotalDiscount) | currency:'':'0'}} ₫</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(397, "Fees")</b> <span class="support_helper">(6)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;color: #f52c2c;">{{masterData.TotalFees | currency:'':'0'}} ₫</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>&sum; &emsp;</b> <span class="support_helper">(7) = (5) + (6)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700">{{masterData.TotalRoomCharges + masterData.TotalServices + masterData.TotalExtrabed - masterData.TotalDiscount + masterData.TotalFees | currency:'':'0'}} ₫</span>
                            </div>
                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>
                                    @Model.Translate(402, "Paid")
                                    <i ng-click="showhideDetailPaid()" class="uk-icon-info-circle" style="cursor:pointer;font-size: 14px;margin-left: 2px;"></i>
                                    <span class="support_helper">(8)</span>
                                </b>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{(bookingdetail.PrePaid + bookingdetail.Paid) | currency:'':'0'}} ₫</span>
                            </div>
                            <div ng-if="showDetailPaid" class="uk-width-1 uk-margin-small-top">
                                <div class="uk-grid uk-margin-small-bottom">
                                    <div class="uk-width-1">
                                        <div style="border: 1px dotted #a09595;padding: 5px;">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-2-3 uk-width-1-3">
                                                    <span style="font-size: 12px;">@Model.Translate(1272, "Initial deposit")</span>
                                                </div>
                                                <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                                    <span style="font-size: 12px;">{{bookingdetail.DepositMonney | currency:'':'0'}} ₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-grid uk-margin-small-bottom">
                                        <div class="uk-width-medium-2-3 uk-width-1-3">
                                            <span style="font-size: 12px;">@Model.Translate(490, "Deposit Balance")</span>
                                        </div>
                                        <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                            <span style="font-size: 12px;">{{bookingdetail.PrePaid | currency:'':'0'}} ₫</span>
                                        </div>
                                    </div>*@
                                <div class="uk-grid">
                                    <div class="uk-width-medium-2-3 uk-width-1-3">
                                        <span style="font-size: 12px;">@Model.Translate(491, "Paid charges")</span>
                                    </div>
                                    <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                        <span style="font-size: 12px;">{{bookingdetail.Paid | currency:'':'0'}} ₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-medium-bottom">
                            <div class="uk-width-medium-1-2 uk-width-1-3">
                                <b>@Model.Translate(492, "Balance due")</b> <span class="support_helper" style="display: block;">(7) - (8)</span>
                            </div>
                            <div class="uk-width-medium-1-2 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;font-size: 16px;">{{(masterData.TotalRoomCharges + masterData.TotalFees + masterData.TotalServices + masterData.TotalExtrabed - masterData.TotalDiscount - bookingdetail.Paid - bookingdetail.PrePaid) | currency:'':'0'}} ₫</span>
                            </div>

                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 2px solid #696969;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1">
                                <div class="md-input-wrapper md-input-filled">
                                    <label><b>@Model.Translate(368, "Payment Type")</b></label>
                                    <select ng-model="bookingdetail.PaymentType" class="md-input" convert-to-number>
                                        <option value="1">@Model.Translate(493, "Do not collect payment")</option>
                                        <option value="2">@Model.Translate(494, "Cash")</option>
                                        <option value="4">@Model.Translate(496, "Debit Card")</option>
                                        <option value="6">@Model.Translate(437, "Voucher")</option>
                                        <option value="10">@Model.Translate(501, "Prepago")</option>
                                        <option value="11">@Model.Translate(502, "Cash On Arrival")</option>
                                        <option value="12">@Model.Translate(503, "Third-party payment")</option>
                                        <option value="13">@Model.Translate(2346, "Payment by One Pay")</option>
                                        <option value="14">@Model.Translate(2347, "Payment by One Pay")</option>
                                        <option value="15">@Model.Translate(2348, "Payment later")</option>
                                        <option value="16">@Model.Translate(2349, "Transfer")</option>
                                        <option value="17">@Model.Translate(2350, "QR Code")</option>
                                        <option value="18">Paypal</option>
                                    </select>
                                    <span class="md-input-bar "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-edit-booking">
    <div class="uk-grid">
        <div class="uk-width-1-2">
            @if (typeSoftware == 1 || typeSoftware == 3)
            {
                <div ng-if="bookingdetail.Status != 6 && bookingdetail.Status != 3" class="uk-button-dropdown uk-text-left" data-uk-dropdown="{pos:'top-left',mode:'click'}" style="z-index: 9999;">
                    <button class="md-btn md-btn-new md-btn-wave-light">Option <i class="material-icons">&#xE313;</i></button>
                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li ng-if="bookingdetail.Status == 1"><a ng-click="GetRoomAvailable()">@Model.Translate(408, "Assign Room")</a></li>
                            <li ng-if="bookingdetail.Status == 1 || bookingdetail.Status == 2 || bookingdetail.Status == 4" ng-click="ChangeStay()"><a>@Model.Translate(505, "Change Stay")</a></li>
                            <li ng-if="bookingdetail.Status == 2 || bookingdetail.Status == 4" ng-click="GetRoomAvailable()"><a>@Model.Translate(506, "Room Move")</a></li>
                        </ul>
                    </div>
                </div>
            }

            <div class="uk-button-dropdown uk-text-left" data-uk-dropdown="{pos:'top-left',mode:'click'}" style="z-index: 9999;">
                <button class="md-btn md-btn-new md-btn-wave-light">@Model.Translate(412, "Print") <i class="material-icons">&#xE313;</i></button>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="/Admin/Print/ConfirmRoom/{{bookingdetail.BookingId}}" target="_blank">@Model.Translate(507, "Confirm Room")</a></li>
                        <li><a href="/Admin/Print/Invoide/{{bookingdetail.BookingId}}" target="_blank">@Model.Translate(359, "Invoice")</a></li>
                        <li><a href="/Admin/Print/RoomCharges/{{bookingdetail.BookingId}}" target="_blank">@Model.Translate(396, "Room Charges")</a></li>
                        <li><a href="/Admin/Print/ExtrabedCharges/{{bookingdetail.BookingId}}" target="_blank">@Model.Translate(508, "Extrabed Charges")</a></li>
                        <li><a href="/Admin/Print/ServicesCharges/{{bookingdetail.BookingId}}" target="_blank">@Model.Translate(509, "Services Charges")</a></li>
                    </ul>
                </div>
            </div>
            @if (typeSoftware == 1 || typeSoftware == 3)
            {
                <div ng-if="bookingdetail.Status == 2" class="uk-button-dropdown uk-text-left" data-uk-dropdown="{pos:'top-left',mode:'click'}" style="z-index: 9999;">
                    <button class="md-btn md-btn-new md-btn-wave-light">@Model.Translate(510, "Pay") <i class="material-icons">&#xE313;</i></button>
                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a ng-click="PayBookingCharge()">@Model.Translate(511, "Booking Charge")</a></li>
                            <li><a ng-click="PayRoomCharge()">@Model.Translate(512, "Room Charge")</a></li>
                            <li><a ng-click="PayExtrabedCharge()">@Model.Translate(513, "Extrabed Charge")</a></li>
                            <li><a ng-click="PayServiceCharge()">@Model.Translate(514, "Service Charge")</a></li>
                            <li><a ng-click="PayOptionCharge()">@Model.Translate(407, "Option")</a></li>
                        </ul>
                    </div>
                </div>
            }

        </div>
        <div class="uk-width-1-2 uk-text-right" style="padding-right:80px">
            <button ng-if="bookingdetail.Status == 1 || bookingdetail.Status == 4" class="md-btn md-btn-booking-inhouse md-btn-wave-light" ng-click="ConfirmCheckIn()">@Model.Translate(369, "Check in")</button>
            <button ng-if="bookingdetail.Status == 2" class="md-btn md-btn-booking-inhouse md-btn-wave-light" ng-click="ConfirmUndoCheckIn()">@Model.Translate(515, "Undo Check in")</button>
            <button ng-if="bookingdetail.Status == 2" class="md-btn md-btn-booking-checkout md-btn-wave-light" ng-click="ConfirmCheckOut()">@Model.Translate(371, "Check out")</button>
            <button ng-if="bookingdetail.Status == 1" class="md-btn md-btn-booking-noshow md-btn-wave-light" ng-click="ConfirmNoShow()">@Model.Translate(516, "No Show")</button>
            <button ng-if="bookingdetail.Status == 1 || bookingdetail.Status == 2 || bookingdetail.Status == 4" class="md-btn md-btn-booking-cancel md-btn-wave-light" ng-click="ConfirmCancel()">@Model.Translate(517, "Cancel Booking")</button>
            @if (typeSoftware == 1 || typeSoftware == 3)
            {
                <button ng-if="bookingdetail.Status != 6 && bookingdetail.Status != 3 && bookingdetail.Status != 5" class="md-btn md-btn-new md-btn-wave-light" ng-click="PutBooking()">@Model.Translate(432, "Update")</button>
            }

            <button class="md-btn md-btn-wave-light" ng-click="CloseWindow()">@Model.Translate(386, "Close")</button>
        </div>
    </div>
</div>
@if (typeSoftware == 1 || typeSoftware == 3)
{
    <div id="ModalScheduleExtrabed" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" style="margin-top: 0;">
            <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
            <h2 class="heading_a">@Model.Translate(389, "Choose Extrabed") - {{bookingdetail.RoomTypeName}}</h2>
            <div style="padding-top: 2px;">
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1">
                        <div class="uk-overflow-container box-schedule-price">
                            <table class="uk-table uk-table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Model.Translate(390, "Type Extrabed")</th>
                                        <th class="uk-text-center" style="width: 90px;">@Model.Translate(378, "Price") (₫)</th>
                                        <th class="uk-text-center" style="width: 61px;">@Model.Translate(379, "Quantity")</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in scheduleExtrabed track by $index">
                                        <td class="uk-text-left">
                                            <b>{{item.ExtrabedName}}</b>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.Price" class="md-input uk-text-center" />
                                        </td>
                                        <td>
                                            <select ng-model="item.Number" class="md-input" convert-to-number>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </td>
                                        <td class="uk-text-center">
                                            <button class="md-btn md-btn-wave-light md-btn-new" ng-click="addExtrabedForBooking(item)">@Model.Translate(381, "Add")</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="uk-width-1">
                        <h5 class="title-box-small-accomodation" style="margin-bottom: 0;"><b>@Model.Translate(2451, "Extrabed Choose")</b></h5>
                        <div class="uk-overflow-container box-schedule-price" ng-cloak>
                            <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none;border-collapse: collapse;">
                                <thead>
                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                        <th>@Model.Translate(390, "Extrabed")</th>
                                        <th class="uk-text-center" style="width: 150px;">@Model.Translate(2449, "Date Use")</th>
                                        <th class="uk-text-center" style="width: 90px;">@Model.Translate(378, "Price") (₫)</th>
                                        <th class="uk-text-center" style="width: 61px;">@Model.Translate(379, "Quantity")</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in bookingdetail.BookingExtrabeds track by $index">
                                        <td class="uk-text-left">
                                            <div class="{{item.Paid? 'item-paid':''}}">
                                                <span>{{item.ExtrabedName}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <input ng-model="item.DateUser" style="text-align:center" autocomplete="off" id="DateUse_Extrabed_{{$index}}" type="text" data-uk-datepicker="{format:'DD-MM-YYYY'}" class="md-input date_use_service" />
                                        </td>
                                        <td>
                                            <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                <span>{{item.Price}}</span>
                                                <input ng-model="item.Price" type="text" class="md-input uk-text-center" />
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-input-wrapper uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                <span>{{item.Number}}</span>
                                                <select ng-model="item.Number" class="md-input" convert-to-number>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="{{item.Paid? 'item-paid':'item-not-paid'}}">
                                                <i class="uk-icon-close close-service" ng-click="removeExtrabedForBooking($index)"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1 uk-text-right">
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="ConfirmSelectExtrabed()">@Model.Translate(2450, "Confirm")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ModalScheduleService" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 100%;margin-top: 0;">
            <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
            <h2 class="heading_a">@Model.Translate(518, "Service Information")</h2>
            <div style="padding-top: 2px;">
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-medium-1">
                        <div class="uk-grid">
                            <div class="uk-width-1 uk-margin-bottom">
                                <h4>
                                    @Model.Translate(437, "Voucher"): <b>{{data.Voucher}}</b>
                                </h4>
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1 uk-margin-bottom">
                                <h4 style="font-weight: bold;">
                                    <b><u>@Model.Translate(431, "Service Categories")</u></b>
                                </h4>
                            </div>
                        </div>
                        <div class="uk-grid grid-service">
                            <div class="uk-width-large-1-10 uk-width-medium-1-6 uk-width-1-4 box-service-category uk-margin-small-bottom" ng-repeat="serviceCategory in ServiceCategories" style="overflow: hidden;">
                                <div ng-click="changeTypeServiceCategory(serviceCategory.ServiceCategoryId)" class="box_serviceCategory_{{serviceCategory.ServiceCategoryId}}">
                                    <img ng-src="{{serviceCategory.Image}}" />
                                    <p>{{serviceCategory.ServiceCategoryName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1 uk-margin-bottom">
                                <h4>
                                    <b><u>@Model.Translate(398, "Services")</u></b>
                                </h4>
                            </div>
                        </div>
                        <div class="uk-grid grid-service">
                            <div class="uk-width-large-1-10 uk-width-medium-1-6 uk-width-1-4 box-service-category uk-margin-small-bottom" ng-repeat="service in services">
                                <div ng-click="addServiceForBooking(service)">
                                    <img ng-src="{{service.Photo}}" />
                                    <p>{{service.ServiceName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1">
                        <div class="uk-grid">
                            <div class="uk-width-1 uk-margin-bottom">
                                <h5 class="title-box-small-accomodation" style="margin-bottom: 0;"><b>@Model.Translate(428, "Service chosen") </b></h5>
                                <div class="uk-overflow-container box-table-left" ng-cloak>
                                    <div ng-if="bookingdetail.BookingServices.length == 0" class="uk-text-center box-not-available" style="padding: 0 20px;">
                                        <p style="margin-top: 20px;">
                                            <i class="uk-icon-random" style="font-size: 23px;padding: 12px 12px 11px 12px;"></i>
                                        </p>
                                        <p style="font-size: 14px;">
                                            @Model.Translate(519, "Add service to your reservation")
                                        </p>
                                    </div>
                                    <table ng-if="bookingdetail.BookingServices.length > 0" class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none">
                                        <thead>
                                            <tr style="background: #EEEEEE !important;">
                                                <th>@Model.Translate(426, "Name")</th>
                                                <th class="uk-text-center" style="width: 150px;">@Model.Translate(2449, "Date Use")</th>
                                                <th class="uk-text-center" style="width: 90px;">@Model.Translate(378, "Price") (₫)</th>
                                                <th class="uk-text-center" style="width: 61px;">@Model.Translate(379, "Quantity")</th>
                                                <th style="width: 40px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in bookingdetail.BookingServices track by $index">
                                                <td>
                                                    <div class="{{item.Paid? 'item-paid':''}}">
                                                        <span>{{item.ServiceName}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input ng-model="item.DateUser" style="text-align:center" autocomplete="off" id="DateUse_Clone_{{$index}}" type="text" data-uk-datepicker="{format:'DD-MM-YYYY'}" class="md-input date_use_service" />
                                                </td>
                                                <td class="uk-text-center">
                                                    <div class="box-input-default uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <span>{{item.Price}}</span>
                                                        <input type="text" class="md-input uk-text-center" ng-model="item.Price" />
                                                    </div>
                                                </td>
                                                <td class="uk-text-center">
                                                    <div class="box-input-default uk-text-center {{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <span>{{item.Number}}</span>
                                                        <input ng-model="item.Number" type="number" min="1" class="md-input uk-text-center" />
                                                    </div>
                                                </td>
                                                <td class="uk-text-center">
                                                    <div class="{{item.Paid? 'item-paid':'item-not-paid'}}">
                                                        <i class="uk-icon-close close-service" ng-click="removeServiceForBooking($index)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1 uk-text-right">
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="ConfirmSelectService()">@Model.Translate(2450, "Confirm")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Reservation/Edit/BookingDetail/pModalAssignRoom.cshtml", Model)
    <div id="ModalChangeStay" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
            <h2 class="heading_a">@Model.Translate(505, "Change Stay")</h2>
            <div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <p style="margin: 0;font-size: 14px;padding-left: 5px;">
                            <span>@Model.Translate(437, "Voucher"): <b style="font-size: 18px;font-weight: bold;">{{data.Voucher}}</b></span>
                        </p>
                        <h4 style="margin-top: 5px;padding-left: 5px;">
                            <b><u>@Model.Translate(527, "Current date stays")</u></b>
                        </h4>
                    </div>
                    <div class="uk-width-medium-2-3 uk-text-right">
                        <span class="box-step {{Step > 0 ? 'box-step-choose':''}}" style="margin-bottom: 0;">
                            <span ng-click="ChangeStepChangeStay(1)">1</span>
                            <span ng-click="ChangeStepChangeStay(1)">@Model.Translate(528, "Choose day")</span>
                        </span>
                        <span class="box-step {{Step > 1 ? 'box-step-choose':''}}" style="margin-bottom: 0;">
                            <span ng-click="ChangeStepChangeStay(2)">2</span>
                            <span ng-click="ChangeStepChangeStay(2)">@Model.Translate(385, "Confirm")</span>
                        </span>
                    </div>
                    <div class="uk-width-1">
                        <span></span>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom uk-margin-small-top" style="margin-top: -10px;">
                        <label class="lable-config"><b>@Model.Translate(369, "Check In")</b></label>
                        <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                            <p style="margin: 0;font-size: 16px;font-weight: bold;">
                                {{bookingdetail.ArrivalDate | date:'dd/MM/yyyy HH:mm'}}
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom" style="margin-top: -10px;">
                        <label class="lable-config"><b>@Model.Translate(371, "Check Out")</b></label>
                        <div style="height: 25px;line-height: 30px;padding-left: 5px;">
                            <p style="margin: 0;font-size: 16px;font-weight: bold;">
                                {{bookingdetail.DepartureDate | date:'dd/MM/yyyy HH:mm'}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1 uk-margin-bottom">
                        <h4>
                            <b><u>@Model.Translate(529, "New stays")</u></b>
                        </h4>
                    </div>
                    <div class="uk-width-medium-1-2 uk-margin-bottom">
                        <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="uk-input-group">
                                    <div class="md-input-wrapper">
                                        <label><b>@Model.Translate(530, "From date")</b></label>
                                        <input ng-click="RefreshValidate()" id="FromDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="FromDate" type="text" class="md-input">
                                        <span class="md-input-bar "></span>
                                        <span id="err_FromDate" class="error">@Model.Translate(370, "Value is invalid")!</span>
                                    </div>
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="uk-input-group">
                                    <div class="md-input-wrapper">
                                        <label><b>@Model.Translate(364, "Hour")</b></label>
                                        <input ng-click="RefreshValidate()" id="HourCheckin_Step1" type="text" class="md-input format_hour" value="14:00" data-role="maskedtextbox" style="height: 30px;padding-left: 0;">
                                        <span id="err_hourFrom" class="error">@Model.Translate(370, "Value is invalid")!</span>
                                    </div>
                                    <span class="uk-input-group-addon">
                                        <i class="uk-input-group-icon uk-icon-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2 uk-margin-bottom">
                        <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="uk-input-group">
                                    <div class="md-input-wrapper">
                                        <label><b>@Model.Translate(531, "To date")</b></label>
                                        <input ng-click="RefreshValidate()" id="ToDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="ToDate" type="text" class="md-input">
                                        <span class="md-input-bar "></span>
                                        <span id="err_ToDate" class="error">@Model.Translate(370, "Value is invalid")!</span>
                                    </div>
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="uk-input-group">
                                    <div class="md-input-wrapper">
                                        <label><b>@Model.Translate(364, "Hour")</b></label>
                                        <input ng-click="RefreshValidate()" id="HourCheckout_Step1" type="text" class="md-input format_hour" value="12:00" data-role="maskedtextbox" style="height: 30px;padding-left: 0;">
                                        <span id="err_hourTo" class="error">@Model.Translate(370, "Value is invalid")!</span>
                                    </div>
                                    <span class="uk-input-group-addon">
                                        <i class="uk-input-group-icon uk-icon-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" ng-if="Step == 2">
                    <div class="uk-width-1">
                        <div class="uk-overflow-container box-schedule-price">
                            <table class="uk-table uk-table-bordered">
                                <thead>
                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                        <th>@Model.Translate(363, "Day")</th>
                                        <th ng-repeat="item in scheduleRoomPrice">
                                            <p>{{item.Date | date:'EEE'}}</p>
                                            <p>{{item.Date | date:'dd/MM'}}</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.Translate(378, "Price")</td>
                                        <td ng-repeat="item in scheduleRoomPrice">
                                            <input ng-model="item.Price" type="text" class="md-input uk-text-center" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Translate(376, "Available")</td>
                                        <td ng-repeat="item in scheduleRoomPrice">
                                            <span>{{item.Number}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1 uk-text-right uk-margin-bottom">
                        <button ng-if="Step == 2" class="md-btn md-btn-new md-btn-wave-light" ng-click="BackChooseDateChangeStay()" style="float: left;">@Model.Translate(532, "Back")</button>
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="ShowRoomPriceNewDateRange()">@Model.Translate(533, "Show Room Price")</button>
                        <button ng-if="Step == 2" class="md-btn md-btn-new md-btn-wave-light" ng-click="ChangeStayDate()">@Model.Translate(385, "Confirm")</button>
                        <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .chil-item {
            padding-left: 10px
        }

        .item-not-paid span {
            display: none !important
        }

        .item-not-paid input, .item-not-paid select, .item-not-paid i {
            display: block !important;
        }

        .item-paid input, .item-paid select, .item-paid i {
            display: none !important;
        }
    </style>
    <div id="ModalPayBooking" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
            <h2 class="heading_a">@Model.Translate(534, "Payment")</h2>
            <div>
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-1 uk-margin-small-bottom">
                        <div class="title-box-small-accomodation" style="padding-right: 10px;">
                            <div class="uk-grid">
                                <div class="uk-width-5-6">
                                    <h5>
                                        <b style="color: white;">@Model.Translate(489, "Charges Information")</b>
                                    </h5>
                                </div>
                                <div class="uk-width-1-6">
                                    <input type="checkbox" ng-model="CheckAllPayment" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1">
                        <div style="padding: 0 10px;">
                            <div class="uk-grid">
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid {{bookingdetail.BookingPrices[0].Paid? 'item-paid':''}}">
                                        <div class="uk-width-2-4">
                                            <span><b style="font-size: 14px;">@Model.Translate(396, "Room Charges")</b> : <span class="support_helper">(1)</span></span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <span><b style="font-size: 14px;">{{masterData.TotalRoomCharges | currency:'':'0'}} ₫</b></span>
                                        </div>
                                        <div class="uk-width-1-6 uk-text-left">
                                            <input type="checkbox" ng-model="roomChargeCheck" />
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1">
                                    <div class="uk-grid uk-margin-small-bottom">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(398, "Services")</b> : <span class="support_helper">(2)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;" attCal="{{CalServiceNotPaid()}}">{{TotalServceChargeNotPaid | currency:'':'0'}} ₫</b>
                                        </div>
                                        <div class="uk-width-1-6 uk-text-left">
                                            <input type="checkbox" ng-model="servicesChargeCheck" />
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-1 uk-margin-small-bottom {{item.Paid? 'item-paid':''}}" ng-repeat="item in bookingdetail.BookingServices track by $index">
                                            <div class="uk-grid">
                                                <div class="uk-width-2-4">
                                                    <span class="chil-item">{{item.ServiceName}}</span>
                                                </div>
                                                <div class="uk-width-1-6">
                                                    <span>{{item.Number}}</span>
                                                </div>
                                                <div class="uk-width-1-6 uk-text-right">
                                                    <span>{{item.Price}} ₫</span>
                                                </div>
                                                <div class="uk-width-1-6 uk-text-left">
                                                    <input type="checkbox" ng-model="item.check" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1">
                                    <div class="uk-grid uk-margin-small-bottom">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(377, "Extrabed")</b> : <span class="support_helper">(3)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;" attCal="{{CalExtrabedNotPaid()}}">{{TotalExtrabedChargeNotPaid | currency:'':'0'}} ₫</b>
                                        </div>
                                        <div class="uk-width-1-6 uk-text-left">
                                            <input type="checkbox" ng-model="extrabedChargeCheck" />
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-1 uk-margin-small-bottom {{item.Paid? 'item-paid':''}}" ng-repeat="item in bookingdetail.BookingExtrabeds track by $index">
                                            <div class="uk-grid">
                                                <div class="uk-width-2-4">
                                                    <span class="chil-item">{{item.ExtrabedName}}</span>
                                                </div>
                                                <div class="uk-width-1-6">
                                                    <span>{{item.Number}}</span>
                                                </div>
                                                <div class="uk-width-1-6 uk-text-right">
                                                    <span>{{item.Price}} ₫</span>
                                                </div>
                                                <div class="uk-width-1-6 uk-text-left">
                                                    <input type="checkbox" ng-model="item.check" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-bottom">
                                    <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(418, "Total")</b> : <span class="support_helper">(4) = (1) + (2) + (3)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;" attcal="{{CalTotalAmountPay()}}">{{TotalAmountPay | currency:'':'0'}} ₫</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(399, "Discount")</b> : <span class="support_helper">(5)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;">{{bookingdetail.Discount * TotalAmountPay / 100  | currency:'':'0'}} ₫</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <span style="width:100%;border-bottom: 2px dotted #696969;display:block;margin-top: 10px;"></span>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(400, "Total Amount")</b> : <span class="support_helper">(6) = (4) - (5)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;font-weight: bold;">{{TotalAmountPay * (100 - bookingdetail.Discount) / 100 | currency:'':'0'}} ₫</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <span><b style="font-size: 14px;">@Model.Translate(397, "Fees")</b> : <span class="support_helper">(7)</span></span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <span><b style="font-size: 14px;">{{TotalFeeForPay | currency:'':'0'}} ₫</b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(490, "Deposit Balance") (*)</b> : <span class="support_helper">(8)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;">{{bookingdetail.PrePaid | currency:'':'0'}} ₫</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <span style="width:100%;border-bottom: 2px solid #696969;display:block;margin-top: 10px;"></span>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    <div class="uk-grid">
                                        <div class="uk-width-2-4">
                                            <b style="font-size: 14px;">@Model.Translate(535, "Payment amount")</b> : <span class="support_helper">(6) + (7) - (8)</span>
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            <b style="font-size: 14px;" attCal="{{CalTotalPay()}}">{{TotalPaymentAmount | currency:'':'0'}} ₫</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1 uk-margin-small-bottom">
                                    (*) @Model.Translate(536, "tipPayment")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1 uk-text-right uk-margin-bottom">
                        <button class="md-btn md-btn-new md-btn-wave-light" ng-click="PayBooking()">@Model.Translate(510, "Pay")</button>
                        <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="ModalCheckIn" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
        <h2 class="heading_a">@Model.Translate(369, "Check in")</h2>
        <div>
            <div class="uk-grid uk-margin-bottom">
                <div class="uk-width-1 uk-margin-bottom">
                    <span style="font-size: 16px;padding-left: 10px;font-weight: 600;">@Model.Translate(520, "Check in for this booking")?</span>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    <button class="md-btn md-btn-new md-btn-wave-light" ng-click="CheckIn()">@Model.Translate(385, "Confirm")</button>
                    <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalUndoCheckIn" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
        <h2 class="heading_a">@Model.Translate(515, "Undo Check in")</h2>
        <div>
            <div class="uk-grid uk-margin-bottom">
                <div class="uk-width-1 uk-margin-bottom">
                    <span style="font-size: 16px;padding-left: 10px;font-weight: 600;">@Model.Translate(521, "Undo check in for this booking")?</span>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    <button class="md-btn md-btn-new md-btn-wave-light" ng-click="UndoCheckIn()">@Model.Translate(385, "Confirm")</button>
                    <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalNoShow" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
        <h2 class="heading_a">@Model.Translate(522, "No Show Booking")</h2>
        <div>
            <div class="uk-grid uk-margin-bottom">
                <div class="uk-width-1 uk-margin-bottom">
                    <span style="font-size: 16px;padding-left: 10px;font-weight: 600;">@Model.Translate(523, "No show this booking")?</span>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    <button class="md-btn md-btn-new md-btn-wave-light" ng-click="NoShow()">@Model.Translate(385, "Confirm")</button>
                    <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalCancel" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
        <h2 class="heading_a">@Model.Translate(517, "Cancel booking")</h2>
        <div>
            <div class="uk-grid uk-margin-bottom">
                <div class="uk-width-1 uk-margin-bottom">
                    <span style="font-size: 16px;padding-left: 10px;font-weight: 600;">@Model.Translate(524, "Cancel this booking")?</span>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    <button class="md-btn md-btn-new md-btn-wave-light" ng-click="Cancel()">@Model.Translate(385, "Confirm")</button>
                    <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalCheckOut" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"><span style="color:white">x</span></button>
        <h2 class="heading_a">@Model.Translate(371, "Check out")</h2>
        <div>
            <div class="uk-grid uk-margin-bottom">
                <div class="uk-width-1-1 uk-margin-small-bottom">
                    <span style="font-size: 16px;padding-left: 10px;font-weight: 600;">@Model.Translate(525, "Check out booking")</span>
                </div>
                <div class="uk-width-1">
                    <div style="padding: 0 10px;">
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(396, "Room Charges") : <span class="support_helper">(1)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalRoomCharges | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(398, "Services") : <span class="support_helper">(2)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalServices | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(377, "Extrabed") : <span class="support_helper">(3)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b>{{masterData.TotalExtrabed | currency:'':'0'}} ₫</b>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(399, "Discount")</b> : <span class="support_helper">(4)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{masterData.TotalDiscount | currency:'':'0'}} ₫</span>
                            </div>
                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(400, "Total Amount")</b> : <span class="support_helper">(5) = (1) + (2) + (3) - (4)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{(masterData.TotalRoomCharges + masterData.TotalFees + masterData.TotalServices + masterData.TotalExtrabed - masterData.TotalDiscount) | currency:'':'0'}} ₫</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <span>@Model.Translate(397, "Fees") : <span class="support_helper">(6)</span></span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <b style="font-weight: 700;color: #f52c2c;">{{masterData.TotalFees | currency:'':'0'}} ₫</b>
                            </div>
                            <div class="uk-width-1">
                                <span style="width:100%;border-bottom: 1px dotted #c1bdbd;display:block;margin-top: 10px;"></span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-medium-2-3 uk-width-1-3">
                                <b>@Model.Translate(402, "Paid") :</b> <span class="support_helper">(7)</span>
                            </div>
                            <div class="uk-width-medium-1-3 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;">{{(bookingdetail.Paid + bookingdetail.PrePaid) | currency:'':'0'}} ₫</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-1-2 uk-width-1-3">
                                <b>@Model.Translate(492, "Balance due") :</b> <span class="support_helper" style="display: block;">(5) + (6) + (7)</span>
                            </div>
                            <div class="uk-width-medium-1-2 uk-width-2-3 uk-text-right">
                                <span style="font-weight: 700;font-size: 16px;">{{(masterData.TotalRoomCharges + masterData.TotalFees + masterData.TotalServices + masterData.TotalExtrabed - masterData.TotalDiscount - (bookingdetail.Paid + bookingdetail.PrePaid)) | currency:'':'0'}} ₫</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-1-2 uk-width-1-3">
                                <b>@Model.Translate(510, "Pay"):</b>
                            </div>
                            <div class="uk-width-medium-1-2 uk-width-2-3 uk-text-right">
                                <input ng-click="RefreshValidate()" ng-model="payBeforCheckout" type="text" class="md-input uk-text-right" />
                                <span id="err_payBeforCheckout" class="error">@Model.Translate(370, "Value is invalid")!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    @if (typeSoftware == 1 || typeSoftware == 3)
                    {
                        <button class="md-btn md-btn-danger md-btn-wave-light" ng-click="TransferDebt()">@Model.Translate(526, "Transfer of debt")</button>
                    }
                    <button class="md-btn md-btn-new md-btn-wave-light" ng-click="CheckOut()">@Model.Translate(371, "Check out")</button>
                    <button class="md-btn uk-modal-close uk-close md-btn-wave-light">@Model.Translate(386, "Close")</button>
                </div>
            </div>
        </div>
    </div>
</div>

