@using BookingEnginePMS.Models;
@model Transition
<style>
    .box-pservice th, .box-pservice td {
        vertical-align: middle;
        border-right: 1px solid #D4D4D4;
    }

        .box-pservice th:last-of-type, .box-pservice td:last-of-type {
            border-right: none;
        }
</style>
<div class="box-pservice" style="margin-top: 10px;min-height: 400px;">
    <div class="uk-grid uk-margin-bottom" style="margin-left: -15px;">
        <div class="uk-width-large-1-3" style="padding-left: 15px;">
            <h5 class="title-box-small-accomodation" style="margin-bottom: 0;"><b>@Model.Translate(428, "Service chosen") </b></h5>
            <div class="uk-overflow-container box-table-left" ng-cloak>
                <table class="uk-table uk-table-bordered" style="border: 1px solid #f0f0f0;border-top:none;border-collapse: collapse;">
                    <thead>
                        <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                            <th>@Model.Translate(426, "Name")</th>
                            <th class="uk-text-center" style="width: 60px;">@Model.Translate(378, "Price") (₫)</th>
                            <th class="uk-text-center" style="width: 50px;">@Model.Translate(379, "Quantity")</th>
                            <th class="uk-text-center" style="width: 110px;">@Model.Translate(429, "Folio-Accomm")</th>
                            <th class="uk-text-center"></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr ng-repeat="item in serviceChoose track by $index">
                            <td>{{item.ServiceName}}</td>
                            <td class="uk-text-right">
                                <input type="text" class="md-input uk-text-center" ng-model="item.Price" />
                            </td>
                            <td class="uk-text-center">
                                <input type="number" min="1" ng-model="item.Number" class="md-input uk-text-center" />
                            </td>
                            <td>
                                <select ng-model="item.BookingId" class="md-input" style="width:100%" convert-to-number>
                                    <option value="{{sv.BookingId}}" ng-repeat="sv in roomtypeForService">{{sv.Text}}</option>
                                </select>
                            </td>
                            <td class="uk-text-center">
                                <i class="uk-icon-close close-service" ng-click="removeService($index)"></i>
                            </td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                            <th>@Model.Translate(404, "Total Price")</th>
                            <th class="uk-text-right" attCal="{{sumServicePrice()}}">{{TotalService | currency:'':'0'}} ₫</th>
                            <th colspan="3"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="uk-width-large-2-3" style="padding-left: 15px;">
            <div class="uk-grid">
                <div class="uk-width-1 uk-margin-bottom">
                    <h4>
                        <b><u>@Model.Translate(431, "Service Categories")</u></b>
                    </h4>
                </div>
            </div>
            <div class="uk-grid grid-service">
                <div class="uk-width-large-1-10 uk-width-medium-1-6 uk-width-1-4 box-service-category uk-margin-small-bottom" ng-repeat="serviceCategory in ServiceCategories">
                    <div ng-click="changeTypeServiceCategory(serviceCategory.ServiceCategoryId)" class="box_serviceCategory_{{serviceCategory.ServiceCategoryId}}">
                        <img ng-src="{{serviceCategory.Image}}" />
                        <p>{{serviceCategory.ServiceCategoryName}}</p>
                    </div>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-margin-bottom">
                    <h4>
                        <b><u>@Model.Translate(398, "Services")</u></b>
                    </h4>
                </div>
            </div>
            <div class="uk-grid grid-service">
                <div class="uk-width-large-1-10 uk-width-medium-1-6 uk-width-1-4 box-service-category uk-margin-small-bottom" ng-repeat="service in services">
                    <div ng-click="addService(service)">
                        <img ng-src="{{service.Photo}}" />
                        <p>{{service.ServiceName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1 uk-text-right">
            <div style="padding: 10px 20px 20px 10px;background: #373737;">
                <button class="md-btn md-btn-new md-btn-wave-light" ng-click="PutService()">@Model.Translate(432, "Update")</button>
            </div>
        </div>
    </div>
</div>