@*ViewData["hotel"] = hotel;
    ViewData["guestName"] = guestName;
    ViewData["guestOrder"] = guestOrder;
    ViewData["guestOrderServices"] = guestOrderServices;
    ViewData["totalServices"] = totalServices;*@
@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPrint.cshtml";
    Hotel hotel = (Hotel)ViewData["hotel"];
    Guest guest = (Guest)ViewData["guest"];
    float totalServices = (float)ViewData["totalServices"];
    List<GuestOrderService> guestOrderServices = (List<GuestOrderService>)ViewData["guestOrderServices"];
    GuestOrder guestOrder = (GuestOrder)ViewData["guestOrder"];
}

<div class="uk-grid" id="ConfirmRoom">
    <div class="uk-width-1 uk-margin-bottom">
        <div class="uk-grid">
            <div class="uk-width-2-5 uk-margin-small-bottom">
                <img src="@hotel.Logo" />
            </div>
            <div class="uk-width-3-5 uk-text-center">
                <p style="margin: 5px;font-size: 14px;font-weight: bold;text-transform: uppercase;" class="ng-binding">@hotel.Name</p>
                <p style="margin: 5px;font-size: 13px;font-weight: 600" class="ng-binding">@hotel.Address</p>
                <p style="margin: 5px;font-size: 13px;" class="ng-binding">Hotline: @hotel.Hotline | Phone: @hotel.Phone </p>
                <p style="margin: 5px;font-size: 13px;" class="ng-binding">Email: @hotel.Email</p>
                @if (hotel.Website != null && hotel.Website != "")
                {
                    <p style="margin: 5px;font-size: 13px;" class="ng-binding">Website: @hotel.Website</p>
                }
            </div>
        </div>
    </div>
    <div class="uk-width-1">
        <div class="uk-grid">
            <div class="uk-width-1 uk-text-right uk-margin-bottom">
                <p style="font-weight: 500;font-size: 12px" class="ng-binding">Ngày in/ Printing date: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") </p>
            </div>
        </div>
    </div>
    <div class="uk-width-1 uk-margin-small-bottom">
        <div class="uk-grid">
            <div class="uk-width-1 uk-text-center uk-margin-bottom">
                <h3 style="margin-bottom: 0;"><b>HÓA ĐƠN/ ORDER</b></h3>
                <h6 style="margin-top: 0;" class="ng-binding">Mã hóa đơn/ Code: @(guestOrder.GuestOrderCode)</h6>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2 infoCustomer">
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-1-2">
                <span>Khách hàng/ Guest </span>
            </div>
            <div class="uk-width-1-2">
                <b>@guest.SurName @guest.FirstName </b>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-1-2">
                <span>Điện thoại/ Phone </span>
            </div>
            <div class="uk-width-1-2">
                <b>@guest.Phone</b>
            </div>
        </div>
    </div>
    <div class="uk-width-1">
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-1-4">
                <span>Email </span>
            </div>
            <div class="uk-width-3-4">
                <b>@guest.Email</b>
            </div>
        </div>
    </div>
    <div class="uk-width-1 uk-margin-top uk-margin-small-bottom">
        <div>
            <table class="uk-table uk-table-nowrap table-lst table-infoBill">
                <thead>
                    <tr>
                        <th class="th-header2">Tên DV/ Service name</th>
                        <th class="th-header3" style="">Số lượng/ Number</th>
                        <th class="th-header4">Đơn giá/ Unit price</th>
                        <th class="th-header5">Thành tiền/ Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in guestOrderServices)
                    {
                        <tr>
                            <td>@item.ServiceName</td>
                            <td class="uk-text-center">@item.Number</td>
                            <td class="uk-text-right">@(String.Format("{0:#,0} ₫", item.Price))</td>
                            <td class="uk-text-right" style="font-weight:600">@(String.Format("{0:#,0} ₫", item.Price * item.Number))</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">Thành tiền/ Total Amount</td>
                        <td class="item-value uk-text-right ng-binding">
                            <b style="font-weight:bold;font-size: 14px;">@(String.Format("{0:#,0} ₫", totalServices))</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-width-1 sign-user">
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-2-5 uk-text-center">
                <p>
                    <b>Khách hàng/ Guest</b>
                </p>
            </div>
            <div class="uk-width-1-5">
            </div>
            <div class="uk-width-2-5 uk-text-center">
                <p>
                    <b>Thu ngân/ Cashier</b>
                </p><br>
            </div>
        </div>
    </div>
</div>

