@using BookingEnginePMS.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<TransitionLanguage> transitions = (List<TransitionLanguage>)Session["transitions"];
    Transition transition = new Transition(transitions);
    int typeSoftware = -1;
    if (Session["typeSoftware"] != null)
    {
        typeSoftware = (int)Session["typeSoftware"];
    }
}
<style>
    .box-status-reservation > label {
        margin-right: 12px;
    }

    .box-reservation th, .box-reservation td {
        vertical-align: middle !important;
        border-right: 1px solid #D4D4D4;
    }

        .box-reservation th:last-of-type, .box-reservation td:last-of-type {
            border-right: none
        }

    .box-reservation tbody tr {
        height: 40px;
    }

    .box-reservation th:first-of-type, .box-reservation tr:first-of-type {
        border-left: none !important
    }

    .box-reservation th:last-of-type, .box-reservation tr:last-of-type {
        border-right: none !important
    }

    .box-reservation tbody tr:nth-child(even) {
        background: #F3F3F3;
    }

    .box-reservation tbody tr:nth-child(odd) {
        background: #FDFDFD;
    }

    .box-change-page > a {
        display: inline-block;
        width: 30px;
        border: 1px solid #cbcbcb;
        padding: 3px;
        text-align: center;
        border-radius: 5px;
        background: #F3F3F3;
    }

    .box-change-page input {
        width: 40px;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid #d7d7d7;
    }

    .box-change-page select {
        margin-left: 20px;
        min-width: 60px;
        border-radius: 3px;
        padding: 5px !IMPORTANT;
    }
</style>
<script>
    $("#menu_3").addClass('click-menu-top')
</script>
<script src="~/Areas/Admin/Content/js/Reservation/reservation-list.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-medium-bottom">
        <h3 style="display: inline-block;margin-right: 10px;">@(transition.Translate(206, "Reservations"))</h3>
        @if (typeSoftware == 1 || typeSoftware == 3)
        {
            <a href="/Admin/Reservation/New" class="md-btn md-btn-new">@(transition.Translate(207, "Add New Reservation"))</a>
        }
        <hr />
    </div>
    <div class="uk-width-1-1" ng-cloak>
        <div class="uk-grid">
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-margin-medium-bottom">
                <div class="md-input-wrapper">
                    <label><b>@(transition.Translate(208, "Filter"))</b></label>
                    <select ng-model="filters.filter" class="md-input" convert-to-number>
                        <option value="-1">@(transition.Translate(209, "Lastest"))</option>
                        <option value="1">@(transition.Translate(210, "Date Booked"))</option>
                        <option value="2">@(transition.Translate(211, "Check in"))</option>
                        <option value="3">@(transition.Translate(212, "Check out"))</option>
                    </select>
                    <span class="md-input-bar "></span>
                </div>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-margin-medium-bottom">
                <div class="uk-input-group">
                    <div class="md-input-wrapper">
                        <label><b>@(transition.Translate(213, "From date"))</b></label>
                        <input id="FromDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="FromDate" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                </div>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-margin-medium-bottom">
                <div class="uk-input-group">
                    <div class="md-input-wrapper">
                        <label><b>@(transition.Translate(214, "To date"))</b></label>
                        <input id="ToDate" data-uk-datepicker="{format:'DD-MM-YYYY'}" autocomplete="off" ng-model="ToDate" type="text" class="md-input">
                        <span class="md-input-bar "></span>
                    </div>
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                </div>
            </div>
            <div class="uk-width-large-3-6 uk-width-medium-1">
                <div class="uk-grid">
                    <div class="uk-width-medium-1 uk-margin-bottom">
                        <div class="uk-input-group">
                            <div class="md-input-wrapper">
                                <label><b>@(transition.Translate(215, "Key Search"))</b></label>
                                <input ng-model="filters.keySearch" type="text" class="md-input" placeholder="Folio, guest">
                                <span class="md-input-bar "></span>
                            </div>
                            <span class="uk-input-group-addon" ng-click="GetData()" style="padding: 0 5px;">
                                <a class="md-btn md-btn-new md-btn-wave-light">@(transition.Translate(216, "Search"))</a>
                            </span>
                            <span class="uk-input-group-addon" style="padding: 0;" ng-click="ShowAdvanceSearch()">
                                <a class="md-btn md-btn-new md-btn-wave-light">
                                    <i class="uk-icon-chevron-down" ng-if="!showAdvancedSearch"></i>
                                    <i class="uk-icon-chevron-up" ng-if="showAdvancedSearch"></i>
                                    @(transition.Translate(217, "Advanced Search")) 
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid {{!showAdvancedSearch? 'hide-item':''}} uk-margin-bottom">
            <div class="uk-width-medium-2-3 uk-margin-bottom">
                <div class="md-input-wrapper">
                    <label class="lable-config" style="padding-left: 0;"><b>@(transition.Translate(218, "Status"))</b></label>
                    <select id="kUI_multiselect_basic" multiple="multiple" data-placeholder="Select Status" class="md-input ">
                        <option value="1" selected>Mới</option>
                        <option value="2" selected>Đã CheckIn</option>
                        <option value="3" selected>Đã CheckOut</option>
                        <option value="4" selected>Khách không đến</option>
                        <option value="5" selected>Đã hủy</option>
                        <option value="6" selected>Chuyển công nợ</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3 uk-margin-bottom">
                <div class="md-input-wrapper">
                    <label><b>@(transition.Translate(223, "Source"))</b></label>
                    <select ng-model="filters.source" class="md-input " convert-to-number>
                        <option value="-1">@(transition.Translate(239, "All"))</option>
                        <option value="1">Walk-in / Telephone</option>
                        <option value="2">Online Booking Engine</option>
                        <option value="3">Booking.com</option>
                        <option value="4">Expedia</option>
                        <option value="5">Agoda</option>
                        <option value="6">Trip Connect</option>
                        <option value="7">AirBNB</option>
                        <option value="8">Hostelworld</option>
                        <option value="9">Myallocator</option>
                        <option value="10">Company</option>
                        <option value="11">Guest Member</option>
                        <option value="12">Owner</option>
                        <option value="13">Returning Guest</option>
                        <option value="14">Apartment</option>
                        <option value="15">Siteminder</option>
                        <option value="16">Other Travel Agency</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div style="border: 1px solid #D4D4D4;border-top: none;" ng-cloak>
            <div class="uk-grid">
                <div class="uk-width-1">
                    <div class="uk-overflow-container">
                        <div class=" box-reservation">
                            <table class="uk-table uk-table-bordered" style="border-collapse: collapse;">
                                <thead>
                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                        <th class="uk-text-center">@(transition.Translate(224, "ResCode"))</th>
                                        <th class="uk-text-center">@(transition.Translate(225, "Name"))</th>
                                        <th class="uk-text-center">@(transition.Translate(226, "SurName"))</th>
                                        <th style="min-width: 70px;">@(transition.Translate(227, "Date Booked"))</th>
                                        <th>@(transition.Translate(228, "Accommodation"))</th>
                                        <th style="min-width: 70px;">@(transition.Translate(2337, "Date Checkin"))</th>
                                        <th style="min-width: 70px;">@transition.Translate(2338, "Date Checkout")</th>
                                        <th class="uk-text-center">@(transition.Translate(229, "Night"))</th>
                                        <th class="uk-text-center" style="min-width: 90px;">@(transition.Translate(230, "Total")) ₫</th>
                                        <th class="uk-text-center" style="min-width: 80px;">@(transition.Translate(231, "Paid")) ₫</th>
                                        <th class="uk-text-center" style="min-width: 80px;">@(transition.Translate(232, "Balance")) ₫</th>
                                        <th class="uk-text-center">@(transition.Translate(233, "Status"))</th>
                                        <th class="uk-text-center">@(transition.Translate(223, "Source"))</th>
                                    </tr>
                                </thead>
                                <tbody ng-cloak>
                                    <tr ng-repeat="item in data">
                                        <td class="uk-text-center numeric">
                                            <a target="_blank" href="/Admin/Reservation/Edit?id={{item.ReservationId}}">{{item.ReservationId}}</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="/Admin/Reservation/Edit?id={{item.ReservationId}}">{{item.FirstName}}</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="/Admin/Reservation/Edit?id={{item.ReservationId}}">{{item.SurName}}</a>
                                        </td>
                                        <td>{{item.CreateDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                        <td>{{item.RoomTypeName_s}}</td>
                                        <td>{{item.CheckIn | date:"dd-MM-yyyy HH:mm"}}</td>
                                        <td>{{item.CheckOut | date:"dd-MM-yyyy HH:mm"}}</td>
                                        <td class="uk-text-center">{{item.Day}}</td>
                                        <td class="uk-text-right">{{item.TotalPrice | currency:'':'0'}}</td>
                                        <td class="uk-text-right">{{item.Paid + item.PrePaid | currency:'':'0'}}</td>
                                        <td class="uk-text-right">{{(item.TotalPrice - item.Paid - item.PrePaid) | currency:'':'0'}}</td>
                                        <td class="uk-text-center"><span ng-bind-html="getStatus(item.Status)"></span></td>
                                        <td>{{getSource(item.BookingSource)}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                                        <th colspan="6"></th>
                                        <th colspan="2">@(transition.Translate(234, "Total price"))</th>
                                        <th class="uk-text-right">{{totalPrice | currency:'':'0'}}</th>
                                        <th class="uk-text-right">{{totalPaid | currency:'':'0'}}</th>
                                        <th class="uk-text-right">{{(totalPrice - totalPaid) | currency:'':'0'}}</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1" ng-cloak>
                    <div class="box-change-page" style="margin:10px">
                        <a ng-click="fixPage(1)"><i class="uk-icon-step-backward"></i></a>
                        <a ng-click="changePage(-1)"><i class="uk-icon-backward"></i></a>
                        <input ng-model="filters.pageNumber" class="box-numberpage" type="number" min="1" max="{{maxPage}}" />
                        <span> / {{maxPage}}</span>
                        <a ng-click="changePage(1)"><i class="uk-icon-forward"></i></a>
                        <a ng-click="fixPage(maxPage)"><i class="uk-icon-step-forward"></i></a>

                        <select ng-change="ChangePageSize()" ng-model="filters.pageSize" style="min-width: 60px;" convert-to-number>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                        <span>@(transition.Translate(235, "items per page"))</span>
                        <span style="float:right">
                            {{currentPage()}} -
                            {{numberItemInPage()}}
                            @(transition.Translate(236, "of")) {{totalRecord}} @(transition.Translate(237, "items"))
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>