<div class="uk-grid">
    <div class="uk-width-1">
        <div>
            <div class="box-reservation">
                <table class="uk-table uk-table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr style="background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215));">
                            <th class="uk-text-center">@Model.Translate(14, "Folio")</th>
                            <th class="uk-text-center">@Model.Translate(15, "Guest's Name")</th>
                            <th class="uk-text-center">@Model.Translate(16, "Type")</th>
                            <th class="uk-text-center">@Model.Translate(17, "Accom")</th>
                            <th class="uk-text-center">@Model.Translate(18, "Room")</th>
                            <th class="uk-text-center">@Model.Translate(19, "Status")</th>
                            <th class="uk-text-center"></th>
                        </tr>
                    </thead>
                    <tbody ng-cloak>
                        <tr ng-repeat="item in stayovers">
                            <td class="uk-text-center">
                                <a target="_blank" href="/Admin/Reservation/Edit?id={{item.ReservationId}}">{{item.BookingId}}</a>
                            </td>
                            <td>
                                <a target="_blank" href="/Admin/Reservation/Edit?id={{item.ReservationId}}">{{item.GuestName}}</a>
                            </td>
                            <td class="uk-text-center">{{getTypeReservation(item.TypeBooking)}}</td>
                            <td>{{item.RoomTypeName}}</td>
                            <td class="uk-text-center">{{item.RoomCode}}</td>
                            <td class="uk-text-center"><span ng-bind-html="getStatus(item.Status)"></span></td>
                            <td class="uk-text-center">
                                <div class="uk-button-dropdown uk-text-left" data-uk-dropdown="{pos:'top-right',mode:'click'}" style="z-index: 1;">
                                    <button class="md-btn md-btn-new md-btn-mini md-btn-wave-light">
                                        <span style="font-size: 12px;padding-bottom: 4px;display: inline-block;">
                                            @Model.Translate(21, "Print")
                                        </span>
                                        <i class="material-icons" style="margin-right: 0;">&#xE313;</i>
                                    </button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li><a href="/Admin/Print/ConfirmRoom/{{item.BookingId}}" target="_blank">@Model.Translate(22, "Confirm Room")</a></li>
                                            <li><a href="/Admin/Print/Invoide/{{item.BookingId}}" target="_blank">@Model.Translate(23, "Invoice")</a></li>
                                            <li><a href="/Admin/Print/RoomCharges/{{item.BookingId}}" target="_blank">@Model.Translate(24, "Room Charges")</a></li>
                                            <li><a href="/Admin/Print/ExtrabedCharges/{{item.BookingId}}" target="_blank">@Model.Translate(25, "Extrabed Charges")</a></li>
                                            <li><a href="/Admin/Print/ServicesCharges/{{item.BookingId}}" target="_blank">@Model.Translate(26, "Services Charges")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

